[2015-03-16 14:14] fazioa opened #1 "User-index and nodeindex issues"
Original [issue 1](https://code.google.com/p/souliss/issues/detail?id=1) created by fazioa on 2013-06-03T10:56:23.000Z:

<b>What steps will reproduce the problem?</b>
1. Install Android app
2. watch default values
3. values &gt; 128 will produce &quot;souliss not reachable&quot;

<b>What is the expected output? What do you see instead?</b>

souliss connected

<b>Please use labels and text to provi

[2015-03-16 14:14] #1 closed, assigned to fazioa

[2015-03-16 14:14] fazioa opened #2 "Connection throught NAT"
Original [issue 2](https://code.google.com/p/souliss/issues/detail?id=2) created by fazioa on 2013-06-03T22:22:41.000Z:

<b>What steps will reproduce the problem?</b>
1. Connect remotely via port forwarding to a Souliss node
2. Use an NAT with source port masquering.

<b>What is the expected output? What do you see instead?</b>

Connection of user interfaces is expected to work also in remote netw

[2015-03-16 14:14] #2 closed, assigned to fazioa

[2015-03-16 14:14] fazioa opened #3 "Sceneries crashes"
Original [issue 3](https://code.google.com/p/souliss/issues/detail?id=3) created by fazioa on 2013-06-03T23:37:09.000Z:

<b>What steps will reproduce the problem?</b>

don't know

<b>What is the expected output? What do you see instead?</b>

app crash report
java.lang.RuntimeException: Unable to start activity ComponentInfo{it.angelic.soulissclient/it.angelic.soulissclient.SceneListActivity}: java

[2015-03-16 14:14] #3 closed, assigned to fazioa

[2015-03-16 14:14] fazioa opened #4 "SoulissApp timers not working"
Original [issue 4](https://code.google.com/p/souliss/issues/detail?id=4) created by fazioa on 2013-06-04T10:18:54.000Z:

<b>What steps will reproduce the problem?</b>
1. Timer function not working properly
<b>2.</b>
<b>3.</b>

<b>What is the expected output? What do you see instead?</b>

Tranne il primo esempio &quot;Hello world&quot;, che non contiene il timer, gli altri possono essere usati con

[2015-03-16 14:15] #4 closed, assigned to fazioa

[2015-03-16 14:15] fazioa opened #5 "Patch for /SoulissClient/res/values-es/strings_words.xml"
Original [issue 5](https://code.google.com/p/souliss/issues/detail?id=5) created by fazioa on 2013-06-05T22:12:26.000Z:

Spanish translation

[2015-03-16 14:15] #5 closed, assigned to nobody

[2015-03-16 14:15] fazioa opened #6 "Patch for /SoulissClient/res/values-es/strings.xml"
Original [issue 6](https://code.google.com/p/souliss/issues/detail?id=6) created by fazioa on 2013-06-05T22:45:19.000Z:

Spanish translation.
(only half) tomorrow more

[2015-03-16 14:15] #6 closed, assigned to nobody

[2015-03-16 14:15] fazioa opened #7 "Patch for /SoulissClient/res/values-pt/strings.xml"
Original [issue 7](https://code.google.com/p/souliss/issues/detail?id=7) created by fazioa on 2013-06-06T11:38:00.000Z:

Translation to Portuguese

[2015-03-16 14:15] #7 closed, assigned to nobody

[2015-03-16 14:15] fazioa opened #8 "Patch for /SoulissClient/res/values-pt/strings_words.xml"
Original [issue 8](https://code.google.com/p/souliss/issues/detail?id=8) created by fazioa on 2013-06-08T20:37:53.000Z:

Translate to portuguese

[2015-03-16 14:15] #8 closed, assigned to nobody

[2015-03-16 14:15] fazioa opened #9 "Patch for /SoulissClient/res/values-es/strings.xml"
Original [issue 9](https://code.google.com/p/souliss/issues/detail?id=9) created by fazioa on 2013-06-09T21:24:45.000Z:

Spanish translation complete.

[2015-03-16 14:15] #9 closed, assigned to nobody

[2015-03-16 14:15] fazioa opened #10 "Patch for /SoulissClient/res/values-es/strings_words.xml"
Original [issue 10](https://code.google.com/p/souliss/issues/detail?id=10) created by fazioa on 2013-06-09T21:31:48.000Z:

Changed translation for &quot;ago&quot; word &quot;atrás&quot; works better in  the same position

[2015-03-16 14:15] #10 closed, assigned to nobody

[2015-03-16 14:15] fazioa opened #11 "AndroidAirConditioner, AndroidRGBLamp not proceed to detail"
Original [issue 11](https://code.google.com/p/souliss/issues/detail?id=11) created by fazioa on 2013-06-11T08:50:55.000Z:

<b>What steps will reproduce the problem?</b>

The samples (ssExtra_ex01_AndroidRGBLamp and ssExtra_ex02_AndroidAirConditioner) does not proceed to the control screen when executed on typical screen landscape mode.

The test was performed on the devices: Sansung Galaxy tab 7 &

[2015-03-16 14:15] fazioa opened #12 "Temperature control T31"
Original [issue 13](https://code.google.com/p/souliss/issues/detail?id=13) created by fazioa on 2013-06-11T20:21:36.000Z:

The temperature control T31 is not implemented in the Android interface,
is requested a faceplate with increase and decrease buttons, the T31 has two slot one for measured temperature and another for delta with requested setpoint.

The temperature is stored in values from 0x10

[2015-03-16 14:16] fazioa opened #13 "Logic T12, buttons doesn't follow the state in AUTO mode"
Original [issue 14](https://code.google.com/p/souliss/issues/detail?id=14) created by fazioa on 2013-06-26T20:08:34.000Z:

<b>What steps will reproduce the problem?</b>
1. Use a T12 logic
2. From the Android interface, set in AUTO mode
3. From a digital input, generate an event that trigger the output for AUTO mode

<b>What is the expected output? What do you see instead?</b>

Once selected AUTO m

[2015-03-16 14:17] #13 closed, assigned to fazioa

[2015-03-16 14:17] fazioa opened #14 "SLOT swap"
Original [issue 16](https://code.google.com/p/souliss/issues/detail?id=16) created by fazioa on 2013-06-28T19:43:11.000Z:

<b>What steps will reproduce the problem?</b>
1. Use hw switch on a node with 2 T12 and an air conditioner
2. try switching one of the light after several idle time
3. the air conditioner IR sender is activated instead

<b>What is the expected output? What do you see instead?<

[2015-03-16 14:17] #14 closed, assigned to fazioa

[2015-03-16 14:17] fazioa opened #15 "assert fail in .buildVNetFrame"
Original [issue 17](https://code.google.com/p/souliss/issues/detail?id=17) created by fazioa on 2013-06-29T09:45:02.000Z:

junit.framework.AssertionFailedError: expected:&lt;true&gt; but was:&lt;false&gt;
at junit.framework.Assert.fail(Assert.java:50)
at junit.framework.Assert.failNotEquals(Assert.java:287)
at junit.framework.Assert.assertEquals(Assert.java:67)
at junit.framework.Assert.assertEqua

[2015-03-16 14:17] #15 closed, assigned to fazioa

[2015-03-16 14:17] fazioa opened #16 "IllegalArgumentException: provider==null in DataService"
Original [issue 18](https://code.google.com/p/souliss/issues/detail?id=18) created by fazioa on 2013-06-29T10:01:21.000Z:

java.lang.RuntimeException: Unable to create service it.angelic.soulissclient.SoulissDataService: java.lang.IllegalArgumentException: provider==null
at android.app.ActivityThread.handleCreateService(ActivityThread.java:2373)
at android.app.ActivityThread.access$1600(ActivityTh

[2015-03-16 14:17] #16 closed, assigned to fazioa

[2015-03-16 14:17] fazioa opened #17 "scene detail rename -> Crash"
Original [issue 19](https://code.google.com/p/souliss/issues/detail?id=19) created by fazioa on 2013-06-29T11:27:21.000Z:

<b>What steps will reproduce the problem?</b>
1. Rename a scene from the scene detail screen
<b>2.</b>
<b>3.</b>

<b>What is the expected output? What do you see instead?</b>

06-29 13:26:12.871: E/AndroidRuntime(30945): java.lang.ClassCastException: it.angelic.soulissclient.a

[2015-03-16 14:17] #17 closed, assigned to fazioa

[2015-03-16 14:17] fazioa opened #18 "Code development for typical 4n / Feature request"
Original [issue 20](https://code.google.com/p/souliss/issues/detail?id=20) created by fazioa on 2013-07-01T20:36:43.000Z:

Antitheft logics are actually not supported in the Android application, below some details for the development of the code of that feature.

This logic build a distributed antitheft system, each node that has the antitheft logic has an alarm input (a PIR sensor, a window open-

[2015-03-16 14:18] #18 closed, assigned to nobody

[2015-03-16 14:18] fazioa opened #19 "blocked chibiduino"
Original [issue 21](https://code.google.com/p/souliss/issues/detail?id=21) created by fazioa on 2013-07-07T21:12:08.000Z:

<b>What steps will reproduce the problem?</b>
1. Let a node run for more than one day
2. Node does not respond to commands anymore

<b>What is the expected output? What do you see instead?</b>

wireless communication seems to be blocked

On Akiba website a bugfix may be availa

[2015-03-16 14:18] #19 closed, assigned to fazioa

[2015-03-16 14:18] fazioa opened #20 "Flash mode in RGB typical16 possibly broken"
Original [issue 22](https://code.google.com/p/souliss/issues/detail?id=22) created by fazioa on 2013-07-09T22:15:48.000Z:

<b>What steps will reproduce the problem?</b>
1. Open a T16 RGB detail
2. Choose a color
3. Press &quot;flash&quot;

<b>What is the expected output? What do you see instead?</b>
The light goes off, instead of flashing. Using White -&gt; Flash it works, but not with other colou

[2015-03-16 14:18] #20 closed, assigned to fazioa

[2015-03-16 14:18] fazioa opened #21 "Patch for /SoulissClient/res/values-es/strings.xml"
Original [issue 23](https://code.google.com/p/souliss/issues/detail?id=23) created by fazioa on 2013-07-16T14:33:55.000Z:

Corregí acentos y otras cosas pequeñas

[2015-03-16 14:19] #21 closed, assigned to nobody

[2015-03-16 14:19] fazioa opened #22 "crash at start"
Original [issue 24](https://code.google.com/p/souliss/issues/detail?id=24) created by fazioa on 2013-07-16T22:53:07.000Z:

<b>What steps will reproduce the problem?</b>
1. App crashes at start

<b>What version of the app and framework are you using?</b>
Android = 3.0 ?

<b>Please provide any additional information below.</b>
java.lang.RuntimeException: Unable to start activity ComponentInfo{it.ang

[2015-03-16 14:19] #22 closed, assigned to fazioa

[2015-03-16 14:19] fazioa opened #23 "Looper.prepare() error"
Original [issue 25](https://code.google.com/p/souliss/issues/detail?id=25) created by fazioa on 2013-07-16T23:39:57.000Z:

<b>What steps will reproduce the problem?</b>
1. Go to option/ DB
2. Export a DB and drop it
3. Re import the exported DB twice

<b>What is the expected output? What do you see instead?</b>
Second import crashes because first is still running

<b>Please use labels and text to

[2015-03-16 14:19] #23 closed, assigned to fazioa

[2015-03-16 14:19] fazioa opened #24 "Patch for /SoulissClient/res/values-es/strings_tomove.xml"
Original [issue 26](https://code.google.com/p/souliss/issues/detail?id=26) created by fazioa on 2013-07-17T14:44:18.000Z:

Traducción de useridxhint, nodeidxhint entre otros y algunas correcciones

[2015-03-16 14:19] #24 closed, assigned to nobody

[2015-03-16 14:19] fazioa opened #25 "After adding widgets crash the app"
Original [issue 27](https://code.google.com/p/souliss/issues/detail?id=27) created by fazioa on 2013-07-22T23:45:06.000Z:

<b>What is the expected output? What do you see instead?</b>
After adding widgets crash the app

<b>What version of the app and framework are you using?</b>

<b>Please provide any additional information below.</b>

java.lang.RuntimeException: Unable to start receiver it.angeli

[2015-03-16 14:19] #25 closed, assigned to fazioa

[2015-03-16 14:19] fazioa opened #26 "T19 - Handle single color LED strip"
Original [issue 29](https://code.google.com/p/souliss/issues/detail?id=29) created by fazioa on 2013-08-24T09:02:10.000Z:

A new typical (T18) in order to handle single color LED strip is requested.

[2015-03-16 14:19] #26 closed, assigned to fazioa

[2015-03-16 14:19] fazioa opened #27 "Typical T18 for handling a bistable relay"
Original [issue 30](https://code.google.com/p/souliss/issues/detail?id=30) created by fazioa on 2013-08-26T17:49:55.000Z:

New typical and relevant details are available in Souliss A4.5.1 RC1

[2015-03-16 14:20] #27 closed, assigned to fazioa

[2015-03-16 14:20] fazioa opened #28 "Patch for /SoulissClient/res/values-de/array.xml"
Original [issue 31](https://code.google.com/p/souliss/issues/detail?id=31) created by fazioa on 2013-09-05T19:52:33.000Z:

german translation

[2015-03-16 14:20] #28 closed, assigned to nobody

[2015-03-16 14:20] fazioa opened #29 "Patch for /SoulissClient/res/values-nl/array.xml"
Original [issue 32](https://code.google.com/p/souliss/issues/detail?id=32) created by fazioa on 2013-09-11T14:58:53.000Z:

Translated

[2015-03-16 14:20] #29 closed, assigned to nobody

[2015-03-16 14:20] fazioa opened #30 "T19 SoulissApp implementation"
Original [issue 33](https://code.google.com/p/souliss/issues/detail?id=33) created by fazioa on 2013-09-11T17:12:35.000Z:

Provide implementation for T19 single channel RGB light

[2015-03-16 14:20] #30 closed, assigned to fazioa

[2015-03-16 14:20] fazioa opened #31 "RGB to audio calibration"
Original [issue 34](https://code.google.com/p/souliss/issues/detail?id=34) created by fazioa on 2013-09-11T17:36:39.000Z:

With reference to video https://www.youtube.com/watch?v=-ZUsqUFpC2M&amp;feature=youtu.be it becomes necessary to have three calibration parameters, so that RGB lights can be configured on how much light to associate with audio frequencies

[2015-03-16 14:20] #31 closed, assigned to fazioa

[2015-03-16 14:20] fazioa opened #32 "SoulissApp crash after added a program"
Original [issue 35](https://code.google.com/p/souliss/issues/detail?id=35) created by fazioa on 2013-09-13T21:09:52.000Z:

<b>What steps will reproduce the problem?</b>
...my nodes:
--Node 0: Temperature Sensor + Temperature humidity;
--Node 1: ON/OF Digitale con Timer.
1. Click on &quot;Programmi&quot; and Add new program
2. Choose Node 1 - ON/OFF Digitale...
3. Choose &quot;Sensor activation&quo

[2015-03-16 14:20] #32 closed, assigned to nobody

[2015-03-16 14:20] fazioa opened #33 "SoulissApp Typical 18"
Original [issue 36](https://code.google.com/p/souliss/issues/detail?id=36) created by fazioa on 2013-09-20T00:09:18.000Z:

<b>What steps will reproduce the problem?</b>
1. Use Tipical 18 - ON/OFF Step Relais
<b>2.</b>
<b>3.</b>

<b>What is the expected output? What do you see instead?</b>
The framework send correctly Souliss_T1n_OnFeedback and Souliss_T1n_OffFeedback but SoulissApp display only UN

[2015-03-16 14:20] #33 closed, assigned to nobody

[2015-03-16 14:21] fazioa opened #34 "Connection throught ENC28J60 doesn't work out of LAN"
Original [issue 37](https://code.google.com/p/souliss/issues/detail?id=37) created by fazioa on 2013-09-21T12:17:22.000Z:

<b>What steps will reproduce the problem?</b>
1. Try to connect a device based on ENC28J60 from an outside network.

The connection is not estabilished

[2015-03-16 14:21] #34 closed, assigned to fazioa

[2015-03-16 14:21] fazioa opened #35 "T18 code review"
Original [issue 38](https://code.google.com/p/souliss/issues/detail?id=38) created by fazioa on 2013-10-02T23:36:14.000Z:

<b>Branch name:</b>
antonino

<b>Purpose of code changes on this branch:</b>
con la versione attuale si riesce ad inviare i comandi ma non si legge lo stato.

<b>When reviewing my code changes, please focus on:</b>

<b>After the review, I'll merge this branch into:</b>
/master

[2015-03-16 14:21] #35 closed, assigned to fazioa

[2015-03-16 14:21] fazioa opened #36 "SoulissApp T19"
Original [issue 39](https://code.google.com/p/souliss/issues/detail?id=39) created by fazioa on 2013-10-03T06:50:11.000Z:

<b>What steps will reproduce the problem?</b>
1.Use T19
2.Use the program function for T19
<b>3.</b>

<b>What is the expected output? What do you see instead?</b>
1.In the brightness bar there is wrong &quot;Red&quot; label
2.Command &quot;Send to all&quot; don't work (sending

[2015-03-16 14:21] #36 closed, assigned to nobody

[2015-03-16 14:21] fazioa opened #37 "Antitheft peer local node T43"
Original [issue 40](https://code.google.com/p/souliss/issues/detail?id=40) created by fazioa on 2013-10-08T09:53:14.000Z:

The following typical behave as T42 but is designed to run on the same node of the main antitheft logic.

U8 Souliss_Logic_T43(U8 *memory_map, U8 slot_main, U8 slot_peer)
{
    // If the anti-theft is set and there is an alarm, set the output
    if((memory_map[MaCaco_IN_s + s

[2015-03-16 14:21] #37 closed, assigned to fazioa

[2015-03-16 14:21] fazioa opened #38 "T41 GUI problem when you reset allarm"
Original [issue 41](https://code.google.com/p/souliss/issues/detail?id=41) created by fazioa on 2013-10-10T14:44:09.000Z:

<b>What steps will reproduce the problem?</b>
1.T41 go in Allarm
2.Reset Allarm

<b>What is the expected output? What do you see instead?</b>
See the picture

<b>What version of the app and framework are you using?</b>
4.5.1 app 1.2.5

<b>Please provide any additional informat

[2015-03-16 14:21] fazioa opened #39 "DigiX and Souliss"
Original [issue 42](https://code.google.com/p/souliss/issues/detail?id=42) created by fazioa on 2013-11-08T12:32:22.000Z:

<b>What steps will reproduce the problem?</b>
1.I have connected the Digix ADDon to the Arduino 1.5.4r2 IDE
2.chose the DigiX BOArd to use
3.run the sketch hardware -&gt; open electronics - &gt;ssOpenElectronics_ex01_RGBStrip
4. Build

<b>What is the expected output? What do y

[2015-03-16 14:22] #39 closed, assigned to nobody

[2015-03-16 14:22] fazioa opened #40 "SoulissApp Crash on Node select. Only portrait layout"
Original [issue 43](https://code.google.com/p/souliss/issues/detail?id=43) created by fazioa on 2013-11-18T23:21:19.000Z:

<b>What steps will reproduce the problem?</b>
1. I use Android 2.3.6 on Samsung Mini 2 (GT-s6500)
2. On vertical layout select a node
3. SoulissApp Crash

<b>What is the expected output? What do you see instead?</b>

Please use labels and text to provide additional information

[2015-03-16 14:22] #40 closed, assigned to fazioa

[2015-03-16 14:22] fazioa opened #41 "Typical 15 - Error in codes Sended by Android App to Souliss Node (w-SOLUTION)"
Original [issue 44](https://code.google.com/p/souliss/issues/detail?id=44) created by fazioa on 2013-12-13T22:55:15.000Z:

<b>What steps will reproduce the problem?</b>
1. Load ssExtra_ex01_AndroidRGBLamp.ino
2. Check RGB_LedLamp.cpp codes are equal to codes readed from IR remote.
3. Test Buttons (Bright UP, Down, Red, Green, Blue, White, ON, OFF)

<b>What is the expected output? What do you see i

[2015-03-16 14:22] #41 closed, assigned to nobody

[2015-03-16 14:22] fazioa opened #42 "function Souliss_DigIn (pin,value,memory_map,slot) returns 1 too many times."
Original [issue 45](https://code.google.com/p/souliss/issues/detail?id=45) created by fazioa on 2013-12-18T01:29:26.000Z:

<b>What steps will reproduce the problem?</b>
Calling function Souliss_DigIn (pin,value,memory_map,slot)

<b>What is the expected output? What do you see instead?</b>
When pin turns to High, Souliss_DigIn() must return 1 only the first call, until pin turns again Low.
However

[2015-03-16 14:22] #42 closed, assigned to fazioa

[2015-03-16 14:22] fazioa opened #43 "Error addin DHT InSketch mode"
Original [issue 46](https://code.google.com/p/souliss/issues/detail?id=46) created by fazioa on 2013-12-27T14:34:10.000Z:

<b>What steps will reproduce the problem?</b>
1. Load any example and try to define Insketch DHT

<b>What is the expected output? What do you see instead?</b>
Not workin, error compiling

<b>What version of the app and framework are you using?</b>
5.0.3

<b>Please provide any

[2015-03-16 14:22] #43 closed, assigned to fazioa

[2015-03-16 14:22] fazioa opened #44 "DS18B20 standard support reminder"
Original [issue 47](https://code.google.com/p/souliss/issues/detail?id=47) created by fazioa on 2013-12-28T22:07:20.000Z:

As agreed I kindly ask you to insert a standard support for DS18B20 1-wire temperature sensor.

I am available for testing.

Ciao
Fulvio

[2015-03-16 14:23] #44 closed, assigned to fazioa

[2015-03-16 14:23] fazioa opened #45 "Correction for #if statement in http.h and http.cpp"
Original [issue 48](https://code.google.com/p/souliss/issues/detail?id=48) created by fazioa on 2013-12-28T22:22:06.000Z:

<b>Purpose of code changes on this branch:</b>
bug fix

New #if statement:
# if(HTTPSERVER &amp;&amp; VNET_MEDIA1_ENABLE &amp;&amp; ( ETH_W5100 || ETH_W5200))

[2015-03-16 14:23] #45 closed, assigned to fazioa

[2015-03-16 14:23] fazioa opened #46 "SoulissApp T19 doesn't readback at startup"
Original [issue 49](https://code.google.com/p/souliss/issues/detail?id=49) created by fazioa on 2014-01-22T10:29:58.000Z:

<b>What steps will reproduce the problem?</b>
1. Move the slider on T19
2. Close SoulissApp and open it back
3. The T19 slider is back on zero position

<b>What is the expected output? What do you see instead?</b>
The slider should follow the actual readback from the board

[2015-03-16 14:23] #46 closed, assigned to fazioa

[2015-03-16 14:23] fazioa opened #47 "SoulissApp automatic IP discover"
Original [issue 50](https://code.google.com/p/souliss/issues/detail?id=50) created by fazioa on 2014-01-22T10:37:15.000Z:

<b>What steps will reproduce the problem?</b>
1. Clear the IP address in SoulissApp
2. Go back to the menu
3. The IP address is automatically discovered via broadcast

<b>What is the expected output? What do you see instead?</b>

It works but may mislead users, an additional d

[2015-03-16 14:23] #47 closed, assigned to fazioa

[2015-03-16 14:23] fazioa opened #48 "Zozzariello JSON sintax"
Original [issue 51](https://code.google.com/p/souliss/issues/detail?id=51) created by fazioa on 2014-02-24T20:34:51.000Z:

JSON sintax need to be modified as per following example:

Ok, parsing solved. I found a bug, I think.

When I get http://ip:8080/structure?all returns this:
[{&quot;id&quot;:{&quot;hlt&quot;:255,&quot;slot&quot;:[{&quot;val&quot;:19,&quot;ddesc&quot;:&quot;Sendor de temperatu

[2015-03-16 14:23] #48 closed, assigned to fazioa

[2015-03-16 14:23] fazioa opened #49 "Spanish Traslation Error"
Original [issue 52](https://code.google.com/p/souliss/issues/detail?id=52) created by fazioa on 2014-02-24T20:36:55.000Z:

<b>What steps will reproduce the problem?</b>
1. Install Souliss in Spanish
<b>2.</b>
<b>3.</b>

<b>What is the expected output? What do you see instead?</b>

Error on Traslation. Sendor de Temperatura is &quot;Sensor de Temperatura&quot;

<b>What version of the app and framew

[2015-03-16 14:23] #49 closed, assigned to nobody

[2015-03-16 14:23] fazioa opened #50 "[Idea] Add T5A typical with input only values, without feedback"
Original [issue 53](https://code.google.com/p/souliss/issues/detail?id=53) created by fazioa on 2014-03-02T14:49:30.000Z:

<b>What is the expected output? What do you see instead?</b>

View on AndroidApp a value and set it, like T31 setpoint.

[2015-03-16 14:24] #50 closed, assigned to fazioa

[2015-03-16 14:24] fazioa opened #51 "Souliss - Add ToggleCmd in T19"
Original [issue 54](https://code.google.com/p/souliss/issues/detail?id=54) created by fazioa on 2014-03-02T14:55:45.000Z:

<b>What steps will reproduce the problem?</b>
1.Add a T16 Widget, Commands selectable (On, Off)
<b>2.</b>
<b>3.</b>

<b>What is the expected output? What do you see instead?</b>
Can be useful have a ToggleCmd like in T11

<b>Please use labels and text to provide additional inf

[2015-03-16 14:24] #51 closed, assigned to fazioa

[2015-03-16 14:24] fazioa opened #52 "Error displaying Slot with 8 devices SLOT ON / OFF"
Original [issue 55](https://code.google.com/p/souliss/issues/detail?id=55) created by fazioa on 2014-03-10T14:43:16.000Z:

<b>What steps will reproduce the problem?</b>
1.Enter the node and press one of the devices from 5 to 8
2.Devices 5-8 show the bulb with reference to the wrong SLOT
<b>3.</b>

<b>What is the expected output? What do you see instead?</b>

I see Instead panel bulb SLOT5 shows SL

[2015-03-16 14:25] #52 closed, assigned to fazioa

[2015-03-16 14:25] fazioa opened #53 "Pressure (hpa) Typical Sensor and Light(Lux) Typical Sensor"
Original [issue 56](https://code.google.com/p/souliss/issues/detail?id=56) created by fazioa on 2014-03-24T11:22:48.000Z:

<b>What steps will reproduce the problem?</b>
1.Add a T54 in Souliss Sketch
<b>2.</b>
<b>3.</b>

<b>What is the expected output? What do you see instead?</b>
T54 it's a Pressure Sensor on Souliss Framwork but show's a Lux Sensor on Souliss APP

<b>Please use labels and text to

[2015-03-16 14:25] #53 closed, assigned to fazioa

[2015-03-16 14:25] fazioa opened #54 "Enhanced IfThenElse Engine"
Original [issue 57](https://code.google.com/p/souliss/issues/detail?id=57) created by fazioa on 2014-03-26T07:32:38.000Z:

Actually the Engine that runs the scenario is only triggered by the timer for Service Execution. Please trig it also every time that data has been received from the gateway node.

The exponential backoff shall be modified to poll the GPS at rates that are indipendent from the

[2015-03-16 14:25] fazioa opened #55 "SoulissApp new Icons and UI adaptations"
Original [issue 58](https://code.google.com/p/souliss/issues/detail?id=58) created by fazioa on 2014-04-04T00:23:50.000Z:

Change app icon to flat blue, and adapt other SoulissApp interface parts to be lighter and nicer.

[2015-03-16 14:25] #55 closed, assigned to fazioa

[2015-03-16 14:25] fazioa opened #56 "Patch for /SoulissClient/res/values-es/strings.xml"
Original [issue 59](https://code.google.com/p/souliss/issues/detail?id=59) created by fazioa on 2014-04-24T12:19:36.000Z:

Algunos literales en español

[2015-03-16 14:25] #56 closed, assigned to nobody

[2015-03-16 14:25] fazioa opened #57 "Rename wifiMRF24 to ethMRF24 @ vNetDriver_eth.cpp and vNetDriver_eth.h"
Original [issue 60](https://code.google.com/p/souliss/issues/detail?id=60) created by fazioa on 2014-05-01T21:44:24.000Z:

<b>What steps will reproduce the problem?</b>
1. Choose Olimexino 32u4 with mod-wifi and you getting compile errors
<b>2.</b>
<b>3.</b>

<b>What is the expected output? What do you see instead?</b>
Compile should be done without error. Get compile errors
Details see: https://g

[2015-03-16 14:25] #57 closed, assigned to nobody

[2015-03-16 14:25] fazioa opened #58 "Missing Parameter @ function: uip_udp_sock"
Original [issue 61](https://code.google.com/p/souliss/issues/detail?id=61) created by fazioa on 2014-05-02T06:56:19.000Z:

<b>What steps will reproduce the problem?</b>
1. Use Hardware setting 0x0b

<b>What is the expected output? What do you see instead?</b>
Expected: No Error after compile
Instead: https://groups.google.com/d/msg/souliss/fjKt9Y3xQAU/mzxb3piZUywJ

<b>What version of the app and f

[2015-03-16 14:26] #58 closed, assigned to nobody

[2015-03-16 14:26] fazioa opened #59 "Widget creation not possible with Typical13 (Input)"
Original [issue 62](https://code.google.com/p/souliss/issues/detail?id=62) created by fazioa on 2014-05-02T11:21:43.000Z:

<b>What steps will reproduce the problem?</b>
1. Create Widget selecting the Node and Typical13
2. No command to select(input) so I type the label
3. Cannot save because text box says &quot; Command empty/not selected&quot;
## <b>What is the expected output? What do you see in

[2015-03-16 14:26] #59 closed, assigned to fazioa

[2015-03-16 14:26] fazioa opened #60 "Missing Example T18"
Original [issue 63](https://code.google.com/p/souliss/issues/detail?id=63) created by fazioa on 2014-05-09T20:00:04.000Z:

<b>What steps will reproduce the problem?</b>
1.Check example
<b>2.</b>
<b>3.</b>

<b>What is the expected output? What do you see instead?</b>

<b>What version of the app and framework are you using?</b>
framework 5.1

Please provide any additional information below, and use

[2015-03-16 14:26] #60 closed, assigned to fazioa

[2015-03-16 14:26] fazioa opened #61 "Return UDP bytes contains header also"
Original [issue 64](https://code.google.com/p/souliss/issues/detail?id=64) created by fazioa on 2014-05-16T11:54:00.000Z:

<b>What steps will reproduce the problem?</b>
1. The number of bytes returned by recvfrom() for UDP frames in socket.cpp contains either the header and the payload of the UDP frame.

<b>What is the expected output? What do you see instead?</b>
No header is transferred to the t

[2015-03-16 14:26] #61 closed, assigned to fazioa

[2015-03-16 14:26] fazioa opened #62 "DS18B20 Library"
Original [issue 65](https://code.google.com/p/souliss/issues/detail?id=65) created by fazioa on 2014-05-27T18:04:30.000Z:

i create this library to manage DS18b20 sensors like the DHT's one

i hope you find it interesting

thanks Edoardo

[2015-03-16 14:26] #62 closed, assigned to nobody

[2015-03-16 15:02] fazioa opened #63 "Error compiling skech on Linux when ENC28J60 used"
Original [issue 66](https://code.google.com/p/souliss/issues/detail?id=66) created by fazioa on 2014-06-09T10:35:42.000Z:

<b>What steps will reproduce the problem?</b>
Every time I download soulis release and use ENC28J60 I got error when compiling skech On Linux

<b>What is the expected output? What do you see instead?</b>
Code compiled succesfuly.
I got
In file included from .../sketchbook/libr

[2015-03-16 15:02] #63 closed, assigned to fazioa

[2015-03-16 15:02] fazioa opened #64 "Never get more than 10 nodes into release pre-A6"
Original [issue 67](https://code.google.com/p/souliss/issues/detail?id=67) created by fazioa on 2014-06-16T01:07:39.000Z:

Due to a bug you cannot get more than 10 nodes in Souliss releases prior to A6 (not yet relased at time of this issue), you can temporary solve this problem increasing MaCaco_INMAXSUBSCR in MaCacoCfg.h to al least the number of nodes in your network.

[2015-03-16 15:02] #64 closed, assigned to fazioa

[2015-03-16 15:02] fazioa opened #65 "The configuration issue"
Original [issue 68](https://code.google.com/p/souliss/issues/detail?id=68) created by fazioa on 2014-07-08T09:52:28.000Z:

Hello, I am a newbie of this kind of project.But I am very interested in it.

I have a problem of the configuration now, which I think it should be very easy for you guys.
I have no idea about the configuration. How to know the localhost? is it my phone IP address?and remote a

[2015-03-16 15:02] #65 closed, assigned to nobody

[2015-03-16 15:02] fazioa opened #66 "Wrong behavior of the XMLServer http interface (openhab)"
Original [issue 69](https://code.google.com/p/souliss/issues/detail?id=69) created by fazioa on 2014-07-18T19:58:47.000Z:

<b>What steps will reproduce the problem?</b>
Details see: https://groups.google.com/d/msg/souliss/SVmiVkIWDh0/tPWMMde9CSEJ

<b>What is the expected output? What do you see instead?</b>
Logs will also provided at google groups on the same topic.
For details ask me.

<b>Please

[2015-03-16 15:02] #66 closed, assigned to fazioa

[2015-03-16 15:02] fazioa opened #67 "SoulissApp T16 for RGB Leds"
Original [issue 70](https://code.google.com/p/souliss/issues/detail?id=70) created by fazioa on 2014-07-30T11:17:25.000Z:

<b>What steps will reproduce the problem?</b>
1. Send a request to set a color into an RGB typical
<b>2.</b>
<b>3.</b>

What is the expected output?
1. The color change, the node reply with the updated state

What do you see instead?
1. The color change, SoulissApp request a d

[2015-03-16 15:03] #67 closed, assigned to fazioa

[2015-03-16 15:03] fazioa opened #68 "SoulissApp T16 Bright Up and Down"
Original [issue 71](https://code.google.com/p/souliss/issues/detail?id=71) created by fazioa on 2014-07-30T11:18:45.000Z:

<b>What steps will reproduce the problem?</b>
1. Request to bright up or down an RGB led

What is the expected output?
1. Pusbutton on SoulissApp give a visible feedback to let the user understand if the button has been pressed.

What do you see instead?
1. There is no visible

[2015-03-16 15:03] #68 closed, assigned to fazioa

[2015-03-16 15:03] fazioa opened #69 "GW don't collect information about nodes/slots/typicals in dynamic mode"
Original [issue 72](https://code.google.com/p/souliss/issues/detail?id=72) created by fazioa on 2014-08-03T19:55:50.000Z:

The gateway doesn't know the typicals on the other nodes and generally doesn't need it. Once SoulissApp request to the gateway the list of typicals, then it starts to collect data from other nodes and save those only if the persistance mode is active.

When you init the openHA

[2015-03-16 15:03] #69 closed, assigned to fazioa

[2015-03-16 15:03] fazioa opened #70 "Souliss App program step failure"
Original [issue 73](https://code.google.com/p/souliss/issues/detail?id=73) created by fazioa on 2014-08-05T14:39:23.000Z:

<b>What steps will reproduce the problem?</b>

If we have for example afternoon 3 o clock (15:00) and i try to add a program step with start at tomorrow moring 8 o clock (08:00) then this step is executed at the next sync. cycle of the app.
Details see: https://www.youtube.com

[2015-03-16 15:03] #70 closed, assigned to fazioa

[2015-03-16 15:03] fazioa opened #71 "Souliss App wrong Slot displayed on typical detail (lamp view)"
Original [issue 74](https://code.google.com/p/souliss/issues/detail?id=74) created by fazioa on 2014-08-05T14:49:51.000Z:

<b>What steps will reproduce the problem?</b>
I have a node with 5 typicals if scroll down to slot4 and &quot;click/touch&quot; on the typical i get to the &quot;lamp&quot; view of for example slot1.

<b>What is the expected output? What do you see instead?</b>
Detail view of

[2015-03-16 15:03] #71 closed, assigned to fazioa

[2015-03-16 15:04] fazioa opened #72 "Autosearch for Souliss gateway node"
Original [issue 75](https://code.google.com/p/souliss/issues/detail?id=75) created by fazioa on 2014-08-11T11:17:47.000Z:

Actually SoulissApp use the discovery functional code only at startup and if there is no IP address configured.

SoulissApp should search for a gateway node every time that the configured IP address isn't recognized. This try should be available on WiFi or on 3G when VPN is co

[2015-03-16 15:04] #72 closed, assigned to fazioa

[2015-03-16 15:04] fazioa opened #73 "Broadcast support in nRF24 drivers"
Original [issue 76](https://code.google.com/p/souliss/issues/detail?id=76) created by fazioa on 2014-08-13T17:41:37.000Z:

<b>What steps will reproduce the problem?</b>
1. Any sketch that use broadcast doesn't behave as expected.

Using a setup over a node that should join dinamically a gateway through nRF24L01 radio the result is:
Node:

Node Init
(vNet)&lt;SETADDR&gt;&lt;|0x6502&gt;
Join in prog

[2015-03-16 15:04] #73 closed, assigned to fazioa

[2015-03-16 15:04] fazioa opened #74 "Analog T54 doesn't match in SpeakEasy"
Original [issue 77](https://code.google.com/p/souliss/issues/detail?id=77) created by fazioa on 2014-08-13T17:48:17.000Z:

In SpeakEasy T54 and T58 doesn't match the typicals defined in T5n.cpp

[2015-03-16 15:04] #74 closed, assigned to fazioa

[2015-03-16 15:04] fazioa opened #75 "nRF24L01 with SPI in Software"
Original [issue 78](https://code.google.com/p/souliss/issues/detail?id=78) created by fazioa on 2014-08-16T23:46:25.000Z:

It has been noted that some Ethernet boards doesn't support a proper sharing of MISO on SPI, the result is that is impossible to drive two different SPI devices, even if there is a proper handling of CS.

This require as hardware solution the use of a tristate buffer in order

[2015-03-16 15:04] #75 closed, assigned to fazioa

[2015-03-16 15:04] fazioa opened #76 "Node ids should be persistent and not change once joined"
Original [issue 79](https://code.google.com/p/souliss/issues/detail?id=79) created by fazioa on 2014-08-21T20:13:35.000Z:

It would be of interest to all to have a unique way of identifiying the nodes, not just when using the dynamic addressing. So at least there should be a way to interface with the gateway via a unique and static id. This could be both the network address and/or a UUID.
If you a

[2015-03-16 15:04] fazioa opened #77 "Comma on Line 166 of SpeakEasy.h"
Original [issue 80](https://code.google.com/p/souliss/issues/detail?id=80) created by fazioa on 2014-08-22T00:13:25.000Z:
# define ssnLowDigOut(pin,valueslot)                                                             Souliss_nLowDigOut(pin, value, memory_map, slot)

Correction:
# define ssnLowDigOut(pin,value,slot)                                                             Souliss_nLowDigOut(pi

[2015-03-16 15:04] #77 closed, assigned to fazioa

[2015-03-16 15:05] fazioa opened #78 "Souliss App does not convert lux reading correctly."
Original [issue 81](https://code.google.com/p/souliss/issues/detail?id=81) created by fazioa on 2014-08-22T16:40:33.000Z:

The T54 typical has a range of 0-40 klux, but the Souliss App converts it wrong in some way.
I expect to see 2990 lux when the T54 has a value of 2.99

[2015-03-16 15:05] fazioa opened #79 "T54 Error showing data on SoulissApp"
Original [issue 82](https://code.google.com/p/souliss/issues/detail?id=82) created by fazioa on 2014-08-24T15:02:56.000Z:

<b>What steps will reproduce the problem?</b>
1.Load a sketch with T54
<b>2.</b>
<b>3.</b>

<b>What is the expected output? What do you see instead?</b>
Value on framework it's ok, but on SoulissApp the Reading value isn't the same. If you change T54 with T51 value is showed O

[2015-03-16 15:05] #79 closed, assigned to fazioa

[2015-03-16 15:05] fazioa opened #80 "SetIPAddress doesn't assign a proper vNet Supernode"
Original [issue 83](https://code.google.com/p/souliss/issues/detail?id=83) created by fazioa on 2014-08-26T08:50:27.000Z:

More information at this link
https://code.google.com/p/souliss/source/detail?r=1d45d9eee1be81e85fda00e769fa60eeb768f268

[2015-03-16 15:05] fazioa opened #81 "Typical on the peers are not downloaded by gateway at boot"
Original [issue 84](https://code.google.com/p/souliss/issues/detail?id=84) created by fazioa on 2014-09-15T21:59:28.000Z:

<b>What steps will reproduce the problem?</b>
1. Start Gateway
2. Start Peer
3. Open XML Web Interface, peer are empty

Link to forum topic

http://www.mysouliss.eu/forum/italian/139-problemi-xml-interface?start=12

[2015-03-16 15:05] #81 closed, assigned to fazioa

[2015-03-16 15:05] fazioa opened #82 "Request for typicals goes unanswered."
Original [issue 85](https://code.google.com/p/souliss/issues/detail?id=85) created by fazioa on 2014-09-16T09:40:08.000Z:

I have noticed that a request for typicals from the remote nodes on media 0x2, very often goes unanswered ?
I can see in the vnet debug, that only occasionally a reply is returned from the nodes. communications are fine, as I get a lot of traffic when toggling a switch on the

[2015-03-16 15:06] #82 closed, assigned to fazioa

[2015-03-16 15:06] fazioa opened #83 "Souliss APP - Some issue with T19"
Original [issue 86](https://code.google.com/p/souliss/issues/detail?id=86) created by fazioa on 2014-09-21T18:38:55.000Z:

Example 1:
-Turn T19 On, and setup the slide at 75
-Open the app on other phone and open same typical. Slide is set to 0, and not to 75

Example 2:
-Open T19, turn On, and set hte intensity with + and - button. The slide, do not move with intensity change

The slide shoud be s

[2015-03-16 15:06] #83 closed, assigned to fazioa

[2015-03-16 15:06] fazioa opened #84 "Add 57600baud as USART Driver Speed"
Original [issue 87](https://code.google.com/p/souliss/issues/detail?id=87) created by fazioa on 2014-10-01T21:56:04.000Z:

Please add 57600 Baud as configurable speed in USART Driver.
This is best speed usable with CISECO and Remote Programming.

Marco

[2015-03-16 15:06] #84 closed, assigned to fazioa

[2015-03-16 15:06] fazioa opened #85 "Command to check healty over HTTP/XML Interface"
Original [issue 88](https://code.google.com/p/souliss/issues/detail?id=88) created by fazioa on 2014-10-05T17:22:22.000Z:

Please add command like:

/healthy?id=1

That return healt of node in Parsable format, like &lt;id1&gt;1&lt;/id1&gt;

Thanks

[2015-03-16 15:06] #85 closed, assigned to fazioa

[2015-03-16 15:07] fazioa opened #86 "more InSketch options for nrf24"
Original [issue 89](https://code.google.com/p/souliss/issues/detail?id=89) created by fazioa on 2014-10-09T08:28:36.000Z:

Request for adding more InSketch options for nrf24.
PALevel
DataRate
These would be nice to have per board as this is dependent on the hardware used, and has a significant impact on reliabilty and range.

[2015-03-16 15:07] #86 closed, assigned to fazioa

[2015-03-16 15:07] fazioa opened #87 "XML interface does not allways close socket."
Original [issue 90](https://code.google.com/p/souliss/issues/detail?id=90) created by fazioa on 2014-10-17T18:20:38.000Z:

<b>What steps will reproduce the problem?</b>

1.Access the XML interface from browser
2.Sometimes the request does not get a reply and the socket is not closed.
This causes the browser to time out, but if you have a program that does not time out, the connection hangs forever

[2015-03-16 15:07] fazioa opened #88 "Add T1A in SoulissApp"
Original [issue 91](https://code.google.com/p/souliss/issues/detail?id=91) created by fazioa on 2014-11-11T07:48:36.000Z:

In branch T1A of default repository a new typical has been added. The T1A is a single byte logic that represent 8 digital inputs.

For each slot that contains T1A 8 inputs states (as T13) have to be shown in SoulissApp, the state of those can be retrieved using an AND bit-wise

[2015-03-16 15:07] #88 closed, assigned to fazioa

[2015-03-16 15:07] fazioa opened #89 "Patch for /Souliss/base/SoulissBase.cpp"
Original [issue 92](https://code.google.com/p/souliss/issues/detail?id=92) created by fazioa on 2014-11-13T23:23:16.000Z:

Small syntaxis error

[2015-03-16 15:07] #89 closed, assigned to nobody

[2015-03-16 15:07] fazioa opened #90 "Patch for /Souliss/base/SoulissBase.cpp"
Original [issue 93](https://code.google.com/p/souliss/issues/detail?id=93) created by fazioa on 2014-11-14T14:25:46.000Z:

minor syntaxis bug

[2015-03-16 15:07] #90 closed, assigned to nobody

[2015-03-16 15:07] fazioa opened #91 "Add T19 to SpeakEasy"
Original [issue 94](https://code.google.com/p/souliss/issues/detail?id=94) created by fazioa on 2014-11-20T18:22:03.000Z:

<b>Branch name:</b>

<b>Purpose of code changes on this branch:</b>
T19 isn't added yet to the SpeakEasy library, and could be usefull
https://code.google.com/p/souliss/source/browse/Souliss/SpeakEasy.h
# define Set_DimmableLight(slot)           Souliss_SetT19(memory_map, slot

[2015-03-16 15:07] #91 closed, assigned to fazioa

[2015-03-16 15:07] fazioa opened #92 "Soulissapp-add program-choose program's command"
Original [issue 95](https://code.google.com/p/souliss/issues/detail?id=95) created by fazioa on 2014-11-27T12:07:10.000Z:

1.In the programs
2. add program
3. choose program's command

Choose command,no commands that can be executed.

Soulissapp 1.3.1

Help please

[2015-03-16 15:08] #92 closed, assigned to fazioa

[2015-03-16 15:08] fazioa opened #93 "Toggle comand in souliss app T12 widget"
Original [issue 96](https://code.google.com/p/souliss/issues/detail?id=96) created by fazioa on 2014-12-03T10:00:26.000Z:

I suggest adding Toggle command in Souliss app T12 widget as is on T11 besides ON/OFF/Auto commands

<b>What version of the app and framework are you using?</b>
1.3.1

[2015-03-16 15:08] #93 closed, assigned to fazioa

[2015-03-16 15:08] fazioa opened #94 "Add nRF Pins Insketch Option"
Original [issue 97](https://code.google.com/p/souliss/issues/detail?id=97) created by fazioa on 2014-12-04T15:04:27.000Z:

Branch name:  051a63bcd1c0

<b>Purpose of code changes on this branch:</b>
I suggest to add Insketch to the nRF CE and CSN Pins:

Modifications on file:
https://code.google.com/p/souliss/source/browse/Souliss/conf/nRF24/nRF24UsrCfg.h

Add on line 49:
# if(!(NRFPINS_INSKETCH))

[2015-03-16 15:08] #94 closed, assigned to fazioa

[2015-03-16 15:08] fazioa opened #95 "RGB Issues"
Original [issue 98](https://code.google.com/p/souliss/issues/detail?id=98) created by fazioa on 2014-12-07T02:27:17.000Z:

<b>What steps will reproduce the problem?</b>
1. Try Music on the RGB Arduino code
2. Turn off and on
3. Turn brilliance up and down

<b>What is the expected output? What do you see instead?</b>

In the case of music, Not affected by music, Kills the Arduino - a reboot will no

[2015-03-16 15:08] #95 closed, assigned to fazioa

[2015-03-16 15:08] fazioa opened #96 "SoulissApp rename slots"
Original [issue 99](https://code.google.com/p/souliss/issues/detail?id=99) created by fazioa on 2014-12-26T22:03:03.000Z:

<b>What steps will reproduce the problem?</b>
1.system with 2 nodes connected by RS485. NodeO has only a function as gateway and has no active slots
2.Renaming slots 1 &amp; 2 of node1 is working fine. When renaming a third slot, the app stops.
3.Another strange thing is that

[2015-03-16 15:08] #96 closed, assigned to fazioa

[2015-03-16 15:08] fazioa opened #97 "User configurable UDP ports"
Original [issue 100](https://code.google.com/p/souliss/issues/detail?id=100) created by fazioa on 2014-12-26T23:38:49.000Z:

Please add user configurable source and destination port in SoulissApp

[2015-03-16 15:09] fazioa opened #98 "Souliss app Typical 19 bugs"
Original [issue 101](https://code.google.com/p/souliss/issues/detail?id=101) created by fazioa on 2015-01-01T10:20:24.000Z:

<b>What steps will reproduce the problem?</b>
1.power commands  on last screen (screen where you can set the brightness) of the typical
2.It should be nice that in the scenes, you also could set the brighness. Now you can define ON, OFF &amp; toggle for this typical
<b>3.</b

[2015-03-16 15:09] fazioa opened #99 "directory name wrong for some examples"
Original [issue 102](https://code.google.com/p/souliss/issues/detail?id=102) created by fazioa on 2015-01-06T15:03:01.000Z:

Using the arduino ide can not access these samples: Souliss_ex03_ModbusMyGarage_eth2 into Souliss_ex03_ControlMyGarage_eth2
Souliss_ex_16_StepRelay into Souliss_ex16_StepRelay

[2015-03-16 15:09] #99 closed, assigned to fazioa

[2015-03-16 15:09] fazioa opened #100 "Power Off on Toggle Command when T16 is Timed"
Original [issue 103](https://code.google.com/p/souliss/issues/detail?id=103) created by fazioa on 2015-01-10T14:25:58.000Z:

Branch name: ??

<b>Purpose of code changes on this branch:</b>
I modified line 597 of T1n.cpp to Power Off a RGB Led Strip when it's in GoodNight Mode.

else if(memory_map[MaCaco_OUT_s + slot] == Souliss_T1n_OnCoil || memory_map[MaCaco_OUT_s + slot] == Souliss_T1n_GoodNight

[2015-03-16 15:09] #100 closed, assigned to fazioa

[2015-03-16 15:10] fazioa opened #101 "Add T1B in SoulissApp"
Original [issue 104](https://code.google.com/p/souliss/issues/detail?id=104) created by fazioa on 2015-01-11T14:23:16.000Z:

In actual master commit a new T1B typical is available in the framework, to be added in SoulissApp

[2015-03-16 15:10] fazioa opened #102 "Button to add a Program doesn't work on 1.3.3"
Original [issue 105](https://code.google.com/p/souliss/issues/detail?id=105) created by fazioa on 2015-01-21T14:15:04.000Z:

<b>What steps will reproduce the problem?</b>
1.Update Souliss App to the lastest version 1.3.3
2.Go to Programs and push the &quot;+&quot; button
<b>3.</b>

<b>What is the expected output? What do you see instead?</b>
Don't open nothing.

Note: I use the app with Spanish La

[2015-03-16 15:10] #102 closed, assigned to fazioa

[2015-03-16 15:10] fazioa opened #103 "Download Android code"
Original [issue 106](https://code.google.com/p/souliss/issues/detail?id=106) created by fazioa on 2015-02-01T15:39:47.000Z:

<b>What steps will reproduce the problem?</b>
1. I go to SoulissApp for Android
2. And I try it to download the &quot;Git Repository&quot;.
3. But when i'm trying to download, I get that I am an unauthorized user

<b>What is the expected output? What do you see instead?</b>

[2015-03-16 15:11] fazioa opened #104 "SoulissApp fav list"
Original [issue 107](https://code.google.com/p/souliss/issues/detail?id=107) created by fazioa on 2015-02-14T00:46:31.000Z:

Add 'favourites' listView, showing user marked typicals.
- items have to be user-sortable
- items may be added and removed

[2015-03-16 15:11] #104 closed, assigned to fazioa

[2015-03-16 15:11] fazioa opened #105 "Prova"
Original [issue 108](https://code.google.com/p/souliss/issues/detail?id=108) created by fazioa on 2015-02-15T11:42:28.000Z:

<b>Branch name:</b>

<b>Purpose of code changes on this branch:</b>

<b>When reviewing my code changes, please focus on:</b>

<b>After the review, I'll merge this branch into:</b>
<b>/trunk</b>

[2015-03-16 15:11] #105 closed, assigned to nobody

[2015-03-16 15:11] fazioa opened #106 "Analog Lux value on SoulissApp"
Original [issue 109](https://code.google.com/p/souliss/issues/detail?id=109) created by fazioa on 2015-02-21T21:17:32.000Z:

<b>What steps will reproduce the problem?</b>
1. Define a T54 and read the value on SoulissApp

<b>What is the expected output? What do you see instead?</b>

The value on SoulissApp is 10k bigger than the one on Souliss, scaling shall be on node side and not on the app. Norm

[2015-03-16 15:11] fazioa opened #107 "Broadcast Setting"
Original [issue 110](https://code.google.com/p/souliss/issues/detail?id=110) created by fazioa on 2015-02-21T23:12:11.000Z:

<b>What steps will reproduce the problem?</b>
1. In Network Options use Broadcast Settings

<b>What is the expected output? What do you see instead?</b>

SoulissApp should send a broadcast UDP/IP frame on port 230 with the IP information (address, subnetmask, gateway, SSID f

[2015-03-16 15:11] fazioa opened #108 "USART Speed InSketch"
Original [issue 111](https://code.google.com/p/souliss/issues/detail?id=111) created by fazioa on 2015-02-24T10:06:24.000Z:

In friariello, the ability to set USART speed was removed.
Please add it back.

[2015-03-16 15:11] fazioa opened #109 "Move RF_SETUP for nrf24 inSketch"
Original [issue 112](https://code.google.com/p/souliss/issues/detail?id=112) created by fazioa on 2015-02-24T10:17:09.000Z:

In \souliss\frame\vNet\drivers\nRF24\src\nRF24L01.h settings
# define RF_SETUP from 0x06 to 0x26

I got an inmprovement into nrf24 comunication. It would greate to add this parameter inSketch

Marco

[2015-03-16 15:11] #109 closed, assigned to fazioa

[2015-03-16 15:11] fazioa opened #110 "XMLinterface not transmit all slots"
Original [issue 113](https://code.google.com/p/souliss/issues/detail?id=113) created by fazioa on 2015-03-03T08:21:25.000Z:

<b>What steps will reproduce the problem?</b>
1.Access the XML interface from browser.
2.By friariello If the request exceeds 20 slot data transmission is incorrect

[2015-03-16 15:12] fazioa opened #111 "Hold time for inputs"
Original [issue 114](https://code.google.com/p/souliss/issues/detail?id=114) created by fazioa on 2015-03-05T08:39:07.000Z:

The hold time in input functions is defined as U8, this gives a maximum value of 255 milliseconds. Shall be moved to U16.

[2015-03-16 15:12] fazioa opened #112 "add item 'delay' at the "scenary" in souliss app"
Original [issue 115](https://code.google.com/p/souliss/issues/detail?id=115) created by fazioa on 2015-03-05T22:42:28.000Z:

THE CREATION OF SCENARIOS, CAN ONLY PUT CONTROL &quot;commands&quot;,

sometimes, even WOULD HAVE THE POSSIBILITY OF EARNINGS OF ADDING &quot;delay&quot; of X sec / min between commands entered

[2015-03-16 15:12] fazioa opened #113 "how to choose between multiple installations"
Original [issue 116](https://code.google.com/p/souliss/issues/detail?id=116) created by fazioa on 2015-03-08T09:01:56.000Z:

I'm posing a problem

I have one at home, of souliss, in the office it will install another

how to choose the one or the other between the two souliss ??

for now I would be obliged to set a souliss with a local url different for the two locations, and cambaire the local ad

[2015-03-16 15:12] fazioa opened #114 "tag on SoulissApp"
Original [issue 117](https://code.google.com/p/souliss/issues/detail?id=117) created by fazioa on 2015-03-11T07:30:33.000Z:

FOR SOULISSAPP

1) La scheda TAG con la sola voce di default non è visibile in homepage

<b>What steps will reproduce the problem?</b>

...da App appena installata:
1. Rinomino TAG Preferiti in &quot;rientro casa&quot;
2. Inserisco secondo TAG
3. Provo a eliminare il TAG &qu

[2015-03-16 15:12] fazioa opened #115 "T58 Bug On Android APP Reading T51 OK"
Original [issue 118](https://code.google.com/p/souliss/issues/detail?id=118) created by fazioa on 2015-03-12T03:29:53.000Z:

<b>What steps will reproduce the problem?</b>

With T51 I get the right value (1022.5) but when I change to T58 reads 756 hPA

<b>What is the expected output? What do you see instead?</b>

I think that problem is the (* 3) on line 61 of this file:
https://code.google.com/p/s

[2015-03-20 00:32] poweredbyant opened #116 "assign an lan-ip on souliss 192.168.x.x with decimal"
require 192.168.0.x
not 192.168.1.x
quick explain and not understanding..
ping reponds on pc ... but.also not show up on router page "active lan list"... on the superhub router (virgin media provider), (netgear brand), (UK)
quickcfg.h are ..
uint8_t DEFAULT_BASEIPADDRESS[] = {192, 168, 0, 0};
uint8_t DEFAULT_SUBMASK[] = {255, 255, 255, 0};
uint8_t DEFAULT_GATEWAY[] = {192, 168, 0, 1};

from sketch

[2015-03-20 06:27] plinioseniore commented on #116
Hi Ant,

your network setup looks right and if you can ping your device that's good.
In order to get it connected with the Android application you should also
set the Gateway option active.

The node doesn't appear in your router list because probably is shown only
devices that got a DHCP address.

Please join the mailing list and continue the discussion there, the issues
are to list bugs.

Here t

[2015-03-21 00:15] plinioseniore commented on #107
Moved in soulissapp issue list
https://github.com/souliss/soulissapp/issues/1

[2015-03-21 00:15] #107 closed

[2015-03-21 21:45] poweredbyant commented on #116
got it lol it on the quickcfg.h

0x01		HTTP Command Parser

then it got all working now
thanks now able looking into it thanks Dario

[2015-03-21 22:38] #116 closed

[2015-04-15 10:50] plinioseniore commented on #103
This problem was in googlecode, now with github is no longer here.

[2015-04-15 10:50] #103 closed

[2015-04-15 10:52] #113 closed

[2015-04-23 19:42] juanpintom commented on #12
Any news from this?  Do you need some tests? I'll try tomorrow with a T31 on a node and let you know.

Regards

[2015-04-23 20:15] fazioa commented on #12
I'm working. I need a lot of time.
Il 23/apr/2015 21:43, "juanpintom" notifications@github.com ha scritto:

[2015-04-29 23:35] juanpintom commented on #113
I think its possible if you work over OH,

[2015-05-05 20:58] ribico opened #125 "more than 37 slots freeze souliss"
By defining the following (or a higher SLOT count) souliss freezes:
# define MaCaco_NODESIZE_INSKETCH
# define MaCaco_NODES            30
# define MaCaco_SLOT             38 // <---- need to be 37 or les to work fine

MaCaco_NODES : 30
MaCaco_SLOT : 37
MaCaco_MEMMAP : FE

MaCaco_NODES : 30
MaCaco_SLOT : 38
MaCaco_MEMMAP : 102

MaCaco_NODES : 30
MaCaco_SLOT : 39
MaCaco_MEMMAP : 106

[2015-05-09 14:24] plinioseniore commented on #125
Hi Gabriele,

yes there are many cases where the size of the memory map is compared with a byte index, this let the MCU hang and is the reason why you cannot increase the size of your nodes.

I will have a look in detail while working on the branch for the ESP8266, because also in that case I've to fix some issues that were ok only with 8bit MCU.

Hope to have a patch soon.

Thanks,
Dario.

[2015-05-23 11:36] plinioseniore commented on #125
Hi Gabriele,

would you mind to verify if the node hangs only when the number of slots exceed that value and at same time also the Persistence mode is active?

Dario.

[2015-05-23 12:06] plinioseniore commented on #125
Gabriele, please try commit 33f91ae and let me know if it fix your problem. I've tried to go though all the possible U8 overflowing in case of large number of slots, but I'm not sure that I've catch them all.

Consider that this commit has also a merge of friariello-porting for 32bit  MCU and ESP8266.

[2015-05-27 02:22] Autohome2 commented on #125
I have been working through my changeover to 7.0.3
I have downloaded the package and not setup got as only running xp
I get a hang on the gateway over 44 slots with 20 nodes selected?
I have the vnet figure set at 66 not 46 as I need 60 slots?
Thanks
Darren

[2015-05-27 09:34] plinioseniore commented on #125
Please try 7ad9cba7 and let me know. I assume that this setup wasn't working also in the previos A6.x release.

https://github.com/souliss/souliss/tree/7ad9cba79993f08caea68ff5c58805d12cefc47b
https://github.com/souliss/souliss/archive/7ad9cba79993f08caea68ff5c58805d12cefc47b.zip

[2015-05-27 22:52] Autohome2 commented on #125
Hi will update and check , this combination of slot vs node was working in 614?

Darren

[2015-05-27 23:12] Autohome2 commented on #125
I have updated and tried gateway . with set as 20 nodes and 60 slots and vnet payload at 66 all seems OK
Nice one Dario :-)
Thanks
Darren

[2015-05-28 14:42] juanpintom opened #136 "T21 - T22 Bug on Commands Close and Toggle Commands"
I found that CloseCmd_Local and Toggle are assigned to the same HEX, this cause on my tests I have incorrect behaviour, It sends Toggle instead Close :( Can you confirm if this is correct?

Here is the line:
https://github.com/souliss/souliss/blob/friariello/Typicals.h#L138

And the commands:
# define Souliss_T2n_CloseCmd_Local      0x08
# define Souliss_T2n_ToggleCmd       0x08

[2015-05-28 21:17] ribico commented on #136
Ciao Juan,
I think it was my fault.
I always use toggle so I did not notice the bug.

It seems to me that 0xB0 is not used, would you please try with it ?

[2015-05-28 21:20] plinioseniore commented on #136
Just changes as 0x12.

[2015-05-29 15:40] juanpintom commented on #106
If you take a look to the "in, out" arrays on this example:
https://github.com/juanpintom/Souliss_ESP_Examples/blob/master/E03_ESP_LDR.ino

You can see I get the values in Lux/10 and after import the value to the slot I divide by 100 other time, so the value must be readed on kLux, I need some time to recalibrate the function to work with ESP, but I'll let you know when I've more reference values.

[2015-05-29 15:41] plinioseniore commented on #106
The App should not scale the value, because is a floating point and can be used as is.

[2015-05-30 00:44] Autohome2 commented on #125
since my last comment i have set up git on the new laptop so it has a different version to what i downloaded before, has anything been changed because  the 44 slot max or else the gateway hangs is back again?
Darren

[2015-05-30 01:39] Autohome2 opened #138 "persistance crash"
gateway code is working without persistance enabled but if enabled gateway hangs?
changing the slot/node values has no effect on this
Darren

[2015-05-30 03:14] Autohome2 commented on #138
i have just done a rollback to commit 7ad9cba  and no crash occurs ,xml server startup still wont compile though
Darren

[2015-05-30 11:43] plinioseniore commented on #125
Hi, which commit were you running before? Nothing has changed since your liste comment on this issue.

Let me know.

[2015-05-30 11:55] plinioseniore commented on #138
Please report your compile error if problem persist.

[2015-06-06 13:04] plinioseniore commented on #125
Solved as discussed here
https://goo.gl/pSwGu8

[2015-06-06 13:04] #125 closed, assigned to nobody

[2015-06-06 13:09] plinioseniore commented on #138
As discussed here https://goo.gl/pSwGu8 the configuration file XMLinterface.h wasn't included as last configuration option in the list, that is why the sketch wasn't compiling

[2015-06-06 13:09] #138 closed, assigned to nobody

[2015-06-06 13:10] #136 closed, assigned to nobody

[2015-06-06 13:17] plinioseniore commented on #114
https://github.com/souliss/soulissapp/issues/9

[2015-06-06 13:17] #114 closed

[2015-06-06 13:19] plinioseniore commented on #115
https://github.com/souliss/soulissapp/issues/7

[2015-06-06 13:19] #115 closed

[2015-06-06 13:20] plinioseniore commented on #112
https://github.com/souliss/soulissapp/issues/10

[2015-06-06 13:20] #112 closed

[2015-06-06 13:21] plinioseniore commented on #111
Solved long time ago, issue never closed before.

[2015-06-06 13:21] #111 closed

[2015-06-06 13:21] plinioseniore commented on #108
Included long time ago, issue never closed.

[2015-06-06 13:21] #108 closed

[2015-06-06 13:22] plinioseniore commented on #106
https://github.com/souliss/soulissapp/issues/11

[2015-06-06 13:22] #106 closed

[2015-06-06 13:23] plinioseniore commented on #101
https://github.com/souliss/soulissapp/issues/12

[2015-06-06 13:23] #101 closed

[2015-06-06 13:24] plinioseniore commented on #98
https://github.com/souliss/soulissapp/issues/13

[2015-06-06 13:24] #98 closed

[2015-06-06 13:26] plinioseniore commented on #97
https://github.com/souliss/soulissapp/issues/14

[2015-06-06 13:26] #97 closed

[2015-06-06 13:26] #78 closed

[2015-06-06 13:27] plinioseniore commented on #54
https://github.com/souliss/soulissapp/issues/15

[2015-06-06 13:27] #54 closed

[2015-06-06 13:28] plinioseniore commented on #38
https://github.com/souliss/soulissapp/issues/16

[2015-06-06 13:28] #38 closed

[2015-06-06 13:28] plinioseniore commented on #12
https://github.com/souliss/soulissapp/issues/17

[2015-06-06 13:28] #12 closed

[2015-06-06 13:29] plinioseniore commented on #11
https://github.com/souliss/soulissapp/issues/18

[2015-06-06 13:29] #11 closed

[2015-06-06 13:29] plinioseniore commented on #76
Starting from Souliss v7.0.3 the addresses obtained via dynamic addressing are stored in the EEPROM

[2015-06-06 13:29] #76 closed

[2015-06-07 13:41] plinioseniore opened #141 "Watchdog based on publish/subscribe"
Rewrite the watchdog examples and code in order to use publish/subscribe methods introduced with the latest revision

[2015-06-14 17:10] Autohome2 opened #142 "enc28j60 Ethernet not updating map without app refresh"
The memory map as read via poutput(s) is not correct until the app refreshes the data for the specific node that the data belongs to.
This effect is not seen when using w5100 Ethernet.

[2015-06-21 10:09] plinioseniore opened #146 "Input and output states of T2n"
The values of Souliss_T2n_LimSwitch_Close/Open was same as Souliss_T2n_ToggleCmd and Souliss_T2n_OpenCmd_Local. As the close and open state from limit switches was used as either an input and output, this create an incosistency in the logic.

With commit #52c60c8 this has been fixed, but want to have a review by people that have worked out the T2n logic.

[2015-06-21 16:57] ribico commented on #146
I teste my configuration (without use of LimitSwitches) and it work fine.
I tried to activate the use of limit switches but I could not get it working as expecting... but I assume there's something I don't understand.

From the code comment I found:

[code]

My limit switches come from a 3 way valve with integrated limit switches (similar to a bistable switch)

So I wrote the following in my code:

[2015-06-21 17:00] plinioseniore commented on #146
If it enter here

[code]

The output state changes and it will not longer enter in.

The limit switch just is an input to define the status as closed or open before the end of the relevant timer, otherwise the output state goes in closed/open after a certain time is expired.

[2015-06-25 23:21] ribico commented on #146
I found a couple of bugs and created a pull request #148.
I tested it with and without limit switches, seems to work fine.

[2015-06-25 23:21] #146 closed, assigned to ribico

[2015-06-26 16:40] RussMathis opened #149 "ESP8266 version won't compile"
@anybody, testing souliss--but wont compile gives following error:
file not found: No such file or directory
Error compiling
The erronous code?: #include "WiFiUdp.h"
The file vNetDriver_eth.h, seems to be point at the wrong path for "WiFiUdp.h" but if is change it to <ESP8266WiFi\src\WiFiUpd.>, I get another error: include\slist.h: no such file or directory.

[2015-06-26 16:48] juanpintom commented on #149
Can you try with the First Steps from this Wiki??
https://github.com/juanpintom/Souliss_ESP_Examples/wiki

[2015-06-26 17:13] plinioseniore commented on #149
You have to add the following line in your sketch
#include <ESP8266WiFi.h>

[2015-06-30 17:07] RussMathis commented on #149
Still no success,
I'm using windows 7, Arduino IDE 1.6.5, targeting "Generic ESP8266" and followed the instructions from https://github.com/juanpintom/Souliss_ESP_Examples/wiki.

Notes: even after installing souliss library I can not find the example: e01_Hello_ESP8266.ino in the arduino sample sketches. There are sever sketches for souliss but not one by that name.

I have the latest ESP8266 IDE

[2015-06-30 19:35] juanpintom commented on #149
Maybe you have the Souliss library on the wrong folder, can you take a look to your library folder? You must have a Souliss folder on it.

Regards

[2015-06-30 22:08] plinioseniore commented on #149
Looks that you haven't the library properly installed, remove any content
from Documents/Arduino/libraries and follow this guide.
https://github.com/souliss/souliss/wiki/Your%20First%20Upload

Dario.

From Mobile.
On 30 Jun 2015 19:08, "Russ Mathis" notifications@github.com wrote:

[2015-07-04 20:57] lesjaw opened #155 "esp8266-esp01, eeprom not saving"
i've seen so many people have trouble saving data/bit to eeprom of esp8266 on esp01,

base on this

Don't store the ssid and password in EEPROM since the ESP8266 SDK already stores them if wifi_station_set_auto_connect is set to true (this is the default behavior), see http://www.esp8266.com/viewtopic.php?p=15304 for details

just like souliss dynamic addressing, it will save on first boot, but af

[2015-07-04 20:58] lesjaw commented on #155
to save ssid and password on running mode, i use this sketch on esp01, it work perfect! https://github.com/jeffryr/ESP8266-Sketches/tree/master/Onboard i hope somebody make it a library for souliss..

thanks

[2015-07-04 23:48] juanpintom opened #156 "Setup Gateway or Peer mode on Runtime"
I need to configure if a node works like a Gateway or Peer on Runtime, this combined with the new Wifi-Manager library bring us the possiblity to Setup a new node on a WebInterface.

[2015-07-09 16:48] plinioseniore opened #158 "Check on maximum frame payload"
Looks like that either vNet and MaCaco haven't a check on maximum lenght, this may break the code functionality.

[2015-07-26 13:48] lesjaw opened #159 "SOULISS_DEBUG give no Output"
# define SOULISS_DEBUG_INSKETCH
# define SOULISS_DEBUG       1

There are no output at all when enabling souliss debug..

[2015-07-26 14:31] lesjaw commented on #155
Problem solved...

Update esp8266 board in Arduino IDE to the last update

[2015-07-26 14:31] #155 closed, assigned to nobody

[2015-08-15 00:23] #158 closed, assigned to plinioseniore

[2015-08-15 00:24] #149 closed, assigned to nobody

[2015-08-15 00:26] plinioseniore commented on #159
Hi Les, could you please have a try again with the last available commit?

[2015-08-15 00:29] plinioseniore commented on #142
Won't fix.

This bug is relevant to a no common user case, the ENC28J60 is a very old device that will no longer get updates.

[2015-08-15 00:29] #142 closed, assigned to plinioseniore

[2015-08-15 00:45] lesjaw commented on #159
Oke will try again tonight..
On Aug 15, 2015 7:26 AM, "Dario Di Maio" notifications@github.com wrote:

[2015-08-15 15:31] lesjaw commented on #159
Still No Output..

On Sat, Aug 15, 2015 at 7:45 AM, Lesjaw Ardi™ ♂ lesjaw@gmail.com wrote:

[2015-08-15 23:38] lesjaw commented on #159
Want to update.. It works

On Sat, Aug 15, 2015 at 10:31 PM, Lesjaw Ardi™ ♂ lesjaw@gmail.com wrote:

[2015-08-17 19:03] #159 closed, assigned to plinioseniore

[2015-08-17 19:05] lesjaw opened #160 "Gateway.h from compile time to runtime"
To make Souliss board compatible with ESP web config,  I need to change the gateway code changes from compile time to runtime.. specially this ;
# define MaCaco_USERMODE         1
# define MaCaco_SUBSCRIBERS          1

thanks

[2015-08-18 12:52] plinioseniore commented on #156
@juanpintom @lesjaw

The branch **runtimegateway** is a try to get the requested behaviour. Is available at this link (https://github.com/souliss/souliss/tree/runtimegateway) and need a deep test

So you have now:
SetAsGateway(address)
RemoveAsGateway()
GetAsGateway()

As usual, a Gateway shall use SetAsGateway(address) and this will now work at runtime, so a node defined as Gateway in the configu

[2015-08-18 12:53] plinioseniore commented on #160
Duplicated of #156, please look at #156 for more details on how get your node running as a Gateway at runtime and report your feedback.

[2015-08-18 12:53] #160 closed, assigned to plinioseniore

[2015-08-18 14:24] juanpintom commented on #156
Thank You so much Dario!, You're awesome, I'll try soon as possible an let you know.

You're one step forward than us ;) We're looking to configure a node as GW at start (setup) why we reset the node automatically (software) after change configuration, but you have accomplished this on runtime!!, so we don't need to reset the node now!

Really thanks

[2015-08-18 15:32] lesjaw commented on #156
awesomeeeee...

i am testing it now.. OMG Dario.. you are such an amazing person..

On Tue, Aug 18, 2015 at 9:24 PM, juanpintom notifications@github.com
wrote:

[2015-08-18 16:28] lesjaw commented on #156
Here is the vNet and MoCaco debug..

it works!.. no more network flood..

Peer first boot and vNet address request to gateway

.
.
.
.
.
Already connect to : Bolt
Admin Time Out
STA mode started
192.168.0.101
Souliss update IP Address
(vNet)<SETADDR><|0x65>
(IP)<C0,A8,0,65,>
(vNet)<SETADDR><|0x65>
(IP)<C0,A8,0,65,>
HTTP server started
0
Peer Mode
(vNet)<SETADDR><|0xAB00>
(vNet)<SETADDR><|0x65>
(IP

[2015-08-18 16:34] juanpintom commented on #156
Good!
El 18/08/2015 18:28, "lesjaw" notifications@github.com escribió:

[2015-08-18 20:30] plinioseniore commented on #156
Hi Les,

have you loaded this new code on all your nodes? Please let me know test all your cases and let me know.

Dario.

[2015-08-18 21:29] plinioseniore commented on #156
I've updated the wiki page with some details
https://github.com/souliss/souliss/wiki/Gateway

[2015-08-18 21:35] lesjaw commented on #156
Yes I am uploading my test code on all my node... No more network flood...
It run good... I will do more test... If I found bug I will report asap..
On Aug 19, 2015 3:30 AM, "Dario Di Maio" notifications@github.com wrote:

[2015-08-19 01:25] lesjaw commented on #156
Dario, I got strange problem..

It seems, the peer node now having the hardtime to connect to SoulissApp, I
often got bad health and can not control the node, and when i check it i
can't ping it too..

at first everything is right, then I install SoulissApp on my second
Android, node got detected well.. but after couple of minute my second
android never got the value updated, the state of the typi

[2015-08-19 05:27] plinioseniore commented on #156
SoulissApp has two network parameters defined at install time, ensure that
each SoulissApp installation has different ones (are in Network menu).

Let me know.

[2015-08-19 13:13] lesjaw commented on #156
yes .. i am checking that setting in both android.. btw it seems working
fine now.. both android got the same update time..

On Wed, Aug 19, 2015 at 12:27 PM, Dario Di Maio notifications@github.com
wrote:

[2015-08-20 19:36] lesjaw commented on #156
yesterday I got some problem on connecting a new peer to the gateway, I
need to erase the eeprom of the gateway then start the gateway node again..
and then the peer can connect to the gateway..

Now today I have a new peer.. and the behaviour seem replicated.. my new
peer stuck on getting vNet address

here is the debug log..

Starting Souliss Node
Reading Configuration
Configuration Found!
AP mo

[2015-08-20 20:31] lesjaw commented on #156
and this is the gateway debug

Starting SerbaAuto Node
Reading Configuration
Configuration Found!
AP mode started
192.168.4.1
Configuring Wifi
Connecting to AP.
.
.
.
.
.
.
.
.
.
Already connect to : Bolt
Admin Time Out
STA mode started
192.168.0.102
Souliss update IP Address
(vNet)<SETADDR><|0x66>
(IP)<C0,A8,0,66,>
(vNet)<SETADDR><|0x66>
(IP)<C0,A8,0,66,>
HTTP server started
Gateway Mode
(vNet)<S

[2015-08-20 21:48] lesjaw commented on #156
ups my bad..

I add GetAsGateway(); now no more gateway crash..

On Fri, Aug 21, 2015 at 3:31 AM, Lesjaw Ardi™ ♂ lesjaw@gmail.com wrote:

[2015-08-20 21:58] plinioseniore commented on #156
Hi Les,

isn't clear for me which is the problem. If I look at the Peer log, I see a request for a new address that never gets a response from the Gateway, but in order to understand what's happening we need the log from the Gateway and Peer collected at same time.

Without I cannot understand what the Gateway does.

What about the crash? The GetAsGateway() just returns if the node is set as Gatew

[2015-08-20 22:08] plinioseniore commented on #156
Hi Les,

please print on the Serial what you get from GetAsGateway() because I suspect that the EEPROM values may overwrite the SetAsGateway and this result into a node that no longer act as a Gateway.

Let me know,
Dario.

[2015-08-21 11:49] lesjaw commented on #156
Hi Dario.. ok will report soon.. Right now I am running out power supply...
But as soon I got psu on my hands. I will test this again..
On Aug 21, 2015 5:08 AM, "Dario Di Maio" notifications@github.com wrote:

[2015-08-21 15:03] lesjaw commented on #156
yes Dario..GetAsGetway didn't fix my gateway crash..

I just another peer node and I saw the gateway crash again on vNet address
peer request

here is the gateway log

Reading Configuration
Configuration Found!
AP mode started
192.168.4.1
Configuring Wifi
Connecting to AP.
.
.
.
.
.
.
.
.
.
Already connect to : Bolt
Admin Time Out
STA mode started
192.168.0.102
Souliss update IP Address
(vNet)<SET

[2015-08-21 15:13] lesjaw commented on #156
and this is the peer log..

Reading Configuration
Configuration Found!
AP mode started
192.168.4.1
Configuring Wifi
Connecting to AP.
.
.
.
.
.
.
.
.
.
Already connect to : Bolt
Admin Time Out
STA mode started
192.168.0.110
Souliss update IP Address
(vNet)<SETADDR><|0x6E>
(IP)<C0,A8,0,6E,>
(vNet)<SETADDR><|0x6E>
(IP)<C0,A8,0,6E,>
HTTP server started
0
Peer Mode
(vNet)<SETADDR><|0xAB00>
(MaCaco)<OU

[2015-08-21 15:17] juanpintom commented on #156
I suggest add this at loop() with NTP enabled, will be more easy track
errors, do you think?

 if (Refresh)
{
Refresh = false;
   Serial.printf("FreeMem:%d %d:%d:%d %d.%d.%d \n",ESP.getFreeHeap() ,
DateTime.hour,DateTime.minute, DateTime.second, DateTime.year,
DateTime.month, DateTime.day);
         }

Regards

2015-08-21 17:13 GMT+02:00 lesjaw notifications@github.com:

[2015-08-21 15:22] lesjaw commented on #156
Currently my esp network have no Internet connection Juan.. Can't update
ntp yet..

So do you think it is because free men,?
On Aug 21, 2015 10:17 PM, "juanpintom" notifications@github.com wrote:

[2015-08-21 15:40] juanpintom commented on #156
Isn't a memory problem, but with NTP time Dario can know when happens what
:P

Regards

2015-08-21 17:22 GMT+02:00 lesjaw notifications@github.com:

[2015-08-21 17:21] plinioseniore commented on #156
Hi Les,

you are probably out of memory. You should try a standard sketch with
dynamic addressing, if it crash we should look at the Souliss code.

Does your node restart automatically?

Please post on Arduino/esp8266 github the message after the crash, they may
help on root cause.

Dario.

From Mobile.

[2015-08-21 21:32] lesjaw commented on #156
Oh I see.. hheheehehe

here is the log :

Refreshing...
FreeMem:19552 6:1:59 1970.1.1
(vNet)<IN>(0xAB08)<|0xB|0x17|0xFFFF|0xAB08|0x2C|0x0|0x0|0x0|0x0>
(MaCaco)<IN><|0x2C|0x0|0x0|0x0|0x0|0x>
(vNet)<IN>(0xAB04)<|0xB|0x17|0xFFFF|0xAB04|0x2C|0x0|0x0|0x0|0x0>
(MaCaco)<IN><|0x2C|0x0|0x0|0x0|0x0|0x>
(vNet)<IN>(0xAB06)<|0xB|0x17|0xFFFF|0xAB06|0x2C|0x0|0x0|0x0|0x0>
(MaCaco)<IN><|0x2C|0x0|0x0|0x0|0x0|0x>
Re

[2015-08-21 21:55] lesjaw commented on #156
Is this normall for peer to send its address as 0xAB00?

HTTP server started
0
Peer Mode
(vNet)<SETADDR><|0xAB00>
(MaCaco)<OUT><|0x29|0x14|0x1C|0xF3|0x0|0x>
(vNet)<BRD><Media><|0x1><|0xB|0x17|0xFFFF|0x6E>
(vNet)<BRD><Media><|0x3><|0xB|0x17|0xFFFF|0xAB00>

as I can see the data from the peer is coming in the gateway, but before
the gateway has the chance to proceed the vnet address it got crashed :

[2015-08-21 23:29] lesjaw commented on #156
Dario, & Juan..

Ok this is still guessing, so I guess the problem is in the gateway logic
on providing the vNet address..

so this is the case :

I have 8 nodes, 1 gateway and 7 peer..

at first boot of setup... if I am doing a refresh setup, all node run
correctlly.. but after it runs a couple of days then I add another peer
node the problem begin, the gateaway crash on vNet request address...
(

[2015-08-21 23:40] lesjaw commented on #156
Here is the gateway log, so I erase my gateway and flash the sketch again,
it is T42..

Already connect to : Bolt
Admin Time Out
STA mode started
192.168.0.101
Souliss update IP Address
(vNet)<SETADDR><|0x65>
(IP)<C0,A8,0,65,>
(vNet)<SETADDR><|0x65>
(IP)<C0,A8,0,65,>
HTTP server started
Gateway Mode
(vNet)<SETADDR><|0xAB01>
192.168.0.104
(vNet)<IN>(0x68)<|0xB|0x17|0x65|0x5EC8|0x27|0x0|0x0|0x1|0x1>

[2015-08-21 23:59] lesjaw commented on #156
and this us the gateway log,

(vNet)<IN>(0xAB00)<|0xB|0x17|0xFFFF|0xAB00|0x29|0x33|0x1D|0xF3|0x0>
(MaCaco)<IN><|0x29|0x33|0x1D|0xF3|0x0|0x>
(MaCaco)<OUT><|0x39|0x33|0x1D|0x3|0x2|0x>
(vNet)<BRD><Media><|0x1><|0xD|0x17|0xFFFF|0x65>
(vNet)<BRD><Media><|0x3><|0xD|0x17|0xFFFF|0xAB01>
(vNet)<IN>(0xAB03)<|0xB|0x17|0xFFFF|0xAB03|0x2C|0x33|0x1D|0x0|0x0>
(MaCaco)<IN><|0x2C|0x33|0x1D|0x0|0x0|0x>
(MaCaco)<ADD

[2015-08-22 00:25] lesjaw commented on #156
Hmm.. I was erasing my peer node, it was has 0xAB06..  now after it connect
to gateway it got 0xAB04.. it seems works fine.. no gateway crash..

I think I know why sometime the vNet address jumped from 0xAB03 to 0xAB07
or anyrhing else, it was just because the peer already have vNet address..
so the gateway vNet DHCP logic still right..

(MaCaco)<OUT><|0x39|0xF|0x1E|0x3|0x2|0x>
(vNet)<BRD><Media><

[2015-08-22 01:52] lesjaw commented on #156
Ok..I found the problem and I can replicate the gateway crash..

So, Yes, my new esp from out of the box after I upload the sketch and in
the process of GetIPaddress make my gateway crash, this will not happen if
the esp was ever act like a node and once connected to the gateway, so it
has the vNet address inside.. to fix this I must erase my eeprom gateway,
then re-add all the peer, and add the l

[2015-08-22 02:18] lesjaw commented on #156
Dario..

in the second structure..

Node 0 - 0xAB01
Node 1 - 0xAB02
Node 2 - 0xAB05
Node 3 - 0xAB04

assume this a fresh gateway :
1. I add a fresh esp from out of the box, no vNet address inside, then
gateway will give its vNet address as 0xAB02
2. I turn ON another peer, which was ever connect to _another_ gateway, and
it has 0xAB05 vNet address, so the gateway will also give the vNet address
as

[2015-08-22 02:28] lesjaw commented on #156
here is the log when I add a new peer (I only clear its eeprom) and it got
new vNet address, and it is 0xAB04

(vNet)<IN>(0xAB00)<|0xB|0x17|0xFFFF|0xAB00|0x29|0x72|0x1C|0xF3|0x0>
(MaCaco)<IN><|0x29|0x72|0x1C|0xF3|0x0|0x>
(MaCaco)<OUT><|0x39|0x72|0x1C|0x3|0x2|0x>
(vNet)<BRD><Media><|0x1><|0xD|0x17|0xFFFF|0x66>
(vNet)<BRD><Media><|0x3><|0xD|0x17|0xFFFF|0xAB01>
(vNet)<IN>(0xAB04)<|0xB|0x17|0xFFFF|0xA

[2015-08-22 02:32] lesjaw commented on #156
And this is where I think where eventually this behaviour will become a
problem..

let said we already have :

Node 0 - 0xAB01
Node 1 - 0xAB02
Node 2 - 0xAB03
Node 3 - 0xAB04

then suddenly the gateway down.. now we have vNet address inside of that
peer as :
Node 1 - 0xAB02
Node 2 - 0xAB03
Node 3 - 0xAB04

then I pich 0xAB02 as the gateway, now the structure will be
Node 1 - 0xAB01
Node 2 - 0xAB03

[2015-08-22 02:32] lesjaw commented on #156
I am sorry I mean the structure will be :
Node 0 - 0xAB01
Node 1 - 0xAB03
Node 2 - 0xAB04

On Sat, Aug 22, 2015 at 9:32 AM, Lesjaw Ardi™ ♂ lesjaw@gmail.com wrote:

[2015-08-22 05:58] plinioseniore commented on #156
What's running as sketch on these nodes? Could you please try with a
standard sketch with dynamic addressing?

Please report the crash information in Arduino/esp8266 github issues, they
may probably help us to understand the crash reason.

Dario.

From Mobile.

[2015-08-22 18:50] plinioseniore commented on #156
Hi Les,

just got now the opportunity to read your comments. Let me say that for next time, you should use a less confusing approach, because it became very hard to follow your test.

So every time please describe the intial condition and then proceed by step, 1) 2) and so on. You should write as less as possible giving at same time all details, this will make easier to avoid misunderstandings.

B

[2015-08-22 18:50] #156 closed, assigned to plinioseniore

[2015-08-22 18:53] plinioseniore opened #161 "Check addressing order in case of Dynamic Addressing"
As noted in #156 by Les, there may be cases when the Gateway node provide a wrong address. Has been seen that in the Gateway nodes didn't get an incremental ordering and this may lead to a wrong assignment for new addresses.

[2015-08-22 19:17] plinioseniore commented on #161
The crash referred in #156 doesn't look a reset by a watchdog, but in any case I've found a possible endless loop.

In commit 72ce9b27 has a fix, this can be tested against the crashes identified before by Les.

[2015-08-22 19:18] plinioseniore commented on #156
Hi Les, look at #161 and continue the discussion there.

[2015-08-22 20:39] lesjaw commented on #161
Yes... Ok I will test this asap..
To replicate my gateway crash is :
1. Create souliss network with only 4 nodes,
2. Set one node to run as gateway
3. Add peer node one by one
   Until here everything should work correctly, and we should have this vNet address :
   0xAB01
   0xAB02
   0xAB03
   0xAB04
4. Take gateway down
5. Set one of the peer node as gateway
   Will report the test asap..

[2015-08-22 21:45] plinioseniore commented on #161
Hi Les,

if you remove the Gateway and configure a previous Peer as new Gateway, you have to erase the EEPROM, otherwise your Gateway will not get 0xAB01 as address.

So, in your code perform a full reset while selecting the node as Gateway or use an external option to force an EEPROM reset.

Dario.

[2015-08-24 12:04] plinioseniore commented on #161
Hi Les,

any news?

Dario.

[2015-08-24 12:51] lesjaw commented on #161
Sorry dario i heaven"t test this yet .. will do it tonight..
On Aug 24, 2015 7:04 PM, "Dario Di Maio" notifications@github.com wrote:

[2015-08-24 13:51] juanpintom commented on #161
Dario, take care about how the EEPROM works on ESP, you need to call EEPROM.commit(); after a write to save values, maybe this causes problems.

Regards.

Edit: Ouch, Im sorry, here is the call:
https://github.com/souliss/souliss/blob/runtimegateway/tools/store/store.cpp#L139

[2015-08-25 04:34] lesjaw commented on #161
Dario .. it seems Ok now.. I still need to clean the eeprom after mode
change (gateway/peer)...

I will report again if I found some strange behaviour...

On Mon, Aug 24, 2015 at 8:51 PM, juanpintom notifications@github.com
wrote:

[2015-08-29 11:29] #161 closed, assigned to plinioseniore

[2015-08-29 11:32] plinioseniore opened #165 "Branch runtimegateway has now web configuration"
In commit f469ee20c there is now a webconfiguration based on previous work of Juan and Les, it compiles but haven't tried if it works and if it is reliable. Tester and helpers wanted.

[2015-09-02 08:41] plinioseniore commented on #165
Discussion [here](https://groups.google.com/forum/#!topic/souliss/XJTU4hXur30%5B1-25%5D)

[2015-09-03 10:12] plinioseniore opened #167 "Misleading #define"
In many sketches the following code is included where the node address is defined twice as last IP address byte and as standalone define

[code]

[2015-09-04 13:48] shineangelic opened #168 "Add strict mode"
As a "front door security" add "strict mode" configuration option to the framework. If set, souliss would accept datagram ONLY from specified couples nodeIndex/UserIndex, ignoring other requests.

[2015-09-04 13:55] juanpintom commented on #168
Good!, Security is one of the most asked questions from the users.

Ty for your work :P

Regards

2015-09-04 15:48 GMT+02:00 shineangelic notifications@github.com:

[2015-09-04 14:23] plinioseniore commented on #168
Thinking if this should be a run-time or compile-time feature.

[2015-09-04 14:36] shineangelic commented on #168
I vote compile

[2015-09-04 14:45] plinioseniore commented on #168
As feasibility note, the incoming request from user interface are tagged at vNet driver level with something like:

[code]

Each driver has its own, so to avoid several changed this lock-down can be implemented in UserMode (that is common for all transceivers) using a blacklist approach based on IP address. So an IP address that tries a connection using a not recorded vNet address will be blacklis

[2015-09-04 23:56] shineangelic commented on #168
"new user interface in the first minutes form the boot" sounds bad when someone has to chill out and smoke something before proceeding. I mean that every kind of security setting should be permanent, working 24x7 and protecting you from 'most basic' attacks without time constraints, even if very weak.

Adding parameters to soulissApp is fast and straightforward; IMHO we should not consider real se

[2015-09-05 07:49] plinioseniore commented on #168
If you want, you can lower that minute to zero seconds, and get the behavior that you want. Actually it works either in run-time and compile-time.

https://github.com/souliss/souliss/wiki/Security%20and%20Remote%20Access

[2015-09-05 08:24] ribico commented on #168
+1
Il 05/set/2015 09:49 AM, "Dario Di Maio" notifications@github.com ha
scritto:

[2015-09-05 10:49] plinioseniore commented on #168
In commit 9cbae03b is now available the Lockdown, tested.

[2015-09-05 10:49] #168 closed, assigned to plinioseniore

[2015-09-05 10:50] plinioseniore commented on #165
Actually has been tested by many people and looks working fine, it hasn't been tested in all the option, but this will came by time.

A wiki page has been added
https://github.com/souliss/souliss/wiki/WebConfigInterface

[2015-09-05 10:50] #165 closed, assigned to juanpintom

[2015-09-05 10:51] plinioseniore commented on #141
There is no real benefit.

[2015-09-05 10:51] #141 closed, assigned to plinioseniore

[2015-09-07 13:36] juanpintom commented on #168
Very Good Work!, I'll include on my network soon as possible.

Regards

2015-09-05 12:49 GMT+02:00 Dario Di Maio notifications@github.com:

[2015-09-08 09:50] plinioseniore opened #169 "Typical for Timer"
Need a timer in seconds, minutes or hours with a proper feedback provided to the user and generic enough to be applied for multiple cases.

[2015-09-08 09:51] plinioseniore commented on #169
@shineangelic Let's discuss about

[2015-09-08 10:51] plinioseniore opened #170 "Readback status from LYT"
The actual code ask the lamps their actual state, but it read-back the answer without check the sender address:
https://github.com/souliss/souliss/blob/friariello/hardware/Authometion/LYT88.cpp#L192

The result is that all the lamps state in SoulissApp are updated with the state of the last incoming answer from any LYT bulb in the network.

[2015-09-08 10:52] plinioseniore opened #171 "WebConfig Add link to download SoulissApp"
A link to download SoulissApp once in the WebConfig HTML page is actually missing.

[2015-09-08 10:54] plinioseniore opened #172 "Complete support for battery operated devices"
Actual support for battery operated devices is very bad and buggy

[2015-09-08 12:35] juanpintom commented on #169
+1 good idea
El 08/09/2015 11:51, "Dario Di Maio" notifications@github.com escribió:

[2015-09-08 12:35] juanpintom commented on #171
Ill add in a while.

Regards
El 08/09/2015 12:52, "Dario Di Maio" notifications@github.com escribió:

[2015-09-08 14:18] juanpintom commented on #171
Done but isn't tested

Regards

2015-09-08 14:35 GMT+02:00 Juan Pinto juanpintom@gmail.com:

[2015-09-08 14:21] #171 closed, assigned to plinioseniore

[2015-09-08 14:21] plinioseniore commented on #171
Thanks

[2015-09-10 11:35] plinioseniore opened #173 "Step Relay Logic (T18) isn't working properly"
Several people have highlighted problem, this probably need to be completely redesigned. Actually I know that @FulvioSpelta was working on it. The best would be discuss here and track once the code has been fixed.

[2015-09-10 12:45] plinioseniore commented on #173
My bad, this was yet solved in 0761bcacc

[2015-09-10 12:45] #173 closed, assigned to FulvioSpelta

[2015-09-13 14:12] plinioseniore opened #174 "Inconsisted use of WiFi settings in ethUsrCfg.h"
In the configuration file ethUsrCg.h there are configuration setting for the WiFi connection, those has been introduced for the MRF24 radio and now are used partially for the ESP8266.

The connection with ESP8266 doesn't consider the following parameters:

[code]

[2015-09-18 07:08] plinioseniore opened #175 "Deep test on T31"
As per @fazioa test, there are some odd behavior in T31. Actually he is matching the commit 0d1f578353 with the actual HEAD of friariello.

That commit has no related modification to T31, so is something related to previous commit, [this](https://github.com/souliss/souliss/compare/0d1f5783539183169343c15a18d898101ef22d8b...friariello) is a direct comparison between these commits.

Other resources,

[2015-09-18 17:57] fazioa commented on #175
Line 122
Revert to
if(C8TO16(memory_map + MaCaco_IN_s + slot) != Souliss_T3n_RstCmd)

It work for me.
T31 tested on ESP8266-DEV Olimex

[2015-09-18 18:18] plinioseniore commented on #175
The C8TO16 takes two bytes and build a unit16_t, so it will use also the first byte of the setpoint input, that make no sense.

If this is working is because we have some case where with input == to RstCmd we still need to process the logic.

Any hint?

[2015-09-18 20:29] fazioa commented on #175
Also deleting line 122 it work!

[2015-09-27 12:25] plinioseniore commented on #170
Done

[2015-09-27 12:25] #170 closed, assigned to plinioseniore

[2015-09-27 22:39] plinioseniore commented on #80
Using SetIPAddress() there is no SuperNode set on the vNet stack, this result in problem when data have to be routed.

[2015-09-27 22:41] plinioseniore opened #177 "Multiple vNet Interface for ESP8266"
Actually for ESP8266 multiple interface (1 and 3) are used, but there is no automatically set of SuperNode option. The node then use the first interface (1) but if the address has been set using SetIPAddress() the node has no mySuperNode value set, so the frames cannot be routed into external subnet.

[2015-10-01 15:58] juanpintom opened #180 "Support for RGB WS2812 Indexable Leds with Effects"
Hi, I don't know if this enhancement must be opened here, on the Soulissapp side or both, I'll start here.

We can easily integrate the basic RGB functions for this leds using Neopixel library from Adafruit, but if we want to have awesome effects and others we need a "new" typical (I think we can use T16) and a new interface on SoulissApp (just a combobox with effects or similar)

This was suggest

[2015-10-01 18:16] juanpintom commented on #180
This is simple example to get it working, I'll work to make an sketch on Souliss to use it like a standard RGB led strip.
https://github.com/adafruit/Adafruit_NeoPixel/blob/master/examples/simple/simple.ino

[2015-10-03 17:26] plinioseniore commented on #180
@juanpintom what's your goal? I think that you can use T16 if you want to have something similar to a standard LED strip. I don't know which could be a dedicated typical for this.

[2015-10-04 17:14] terrag42 opened #184 "call of overloaded 'Souliss_GetIPAddress()' is ambiguous"
Hello, cloned the latest Friariello Souliss library into my Arduino "libraries" folder and tried to compile a sketch, but I'm getting the following error: "call of overloaded 'Souliss_GetIPAddress()' is ambiguous". I was able to compile with no errors with the previous version.

[2015-10-04 17:16] plinioseniore commented on #184
Hi, could you please share here the sketch that is giving you this error?

[2015-10-04 17:19] terrag42 commented on #184
[Here's the sketch](http://hastebin.com/elinawosoq.pl) I'm trying to compile for my ESP8266.

[2015-10-04 17:25] #184 closed, assigned to nobody

[2015-10-04 17:26] plinioseniore commented on #184
Pull the latest commit and have fun :)

[2015-10-04 18:08] terrag42 opened #185 "My node is showing empty with ESP8266"
Hello, today I incorporated the new Friariello library into my Arduino "libraries" folder. At first I had an issue with compiling, but [plinioseniore](https://github.com/plinioseniore) was very quick to fix it and issue a commit. Thank you!
Now I am having trouble getting my nodes to show anything other than empty. I'm using the same code from issue #184, and I also tried [another sketch](http://h

[2015-10-04 18:13] plinioseniore commented on #185
@terrag42 the latest code on the branch may be unstable or under development, is there a specific reason why you are not using the latest public release?

https://github.com/souliss/souliss/releases

[2015-10-04 18:25] plinioseniore commented on #185
If you feel brave, you can pull again the latest commit, or skip and move to https://github.com/souliss/souliss/tree/v7.0-friariello.6

[2015-10-04 18:29] terrag42 commented on #185
Thanks for the quick response AGAIN. I feel sheepish that I didn't know about the difference between the latest public release and the latest commit. Using the public release, my LEDs are updating really fast, and jammin' in time with the music. Thanks.

[2015-10-04 18:48] plinioseniore commented on #185
No problem, is just that we are used to publish code directly on the main branch when are minor modification and may happen that doesn't work properly. When a stable point has been reached, there is a public release that is a code that works fine for most of the cases.

From the actual main branch there will be the next release.

[2015-10-04 18:48] #185 closed, assigned to nobody

[2015-10-05 14:25] juanpintom commented on #180
Yes and no, we can use a T16 to make an standard RGB strip with a WS2812,
but we can use this indexable led strips to make awesome effects, here you
can see an sketch created by MeroFilosofo, using a T15 and sending commands
via OH he have 30+ effects, here a list:
                                case  2: rainbow_fade(); break;
                                case  3: rainbow_loop(); break;

[2015-10-05 17:48] marksev1 commented on #180
+1 on this feature :)

[2015-10-05 19:53] ribico commented on #180
I am waiting for some of these LEDs fro China... so.. +1

[2015-10-06 05:50] plinioseniore commented on #180
That's very nice, but I'm having hard time to think at this into a typical.
Is very tight to the desired behavior.

How a typical should look like? What should it do?

From Mobile.

[2015-10-06 09:46] marksev1 commented on #180
Maybe Juan should be the right guy to answer this, so lets wait for him for his ideas. If I may just give idea on how I see it. For example "modes" of a house with tied animations, like "party" mode or "alarm" mode or maybe "wake up" mode :). I don't know if Juan had that in his mind :)

[2015-10-06 16:43] juanpintom commented on #180
Hi, on the example here
https://groups.google.com/d/msg/souliss-es/ya3akohGM1U/HX2O8i_BBQAJ
MeroFilosofo
uses a T15 but I think we just need a typical similar to T16 but with a
_combobox_ with all the effects posted before. The codes are implemented on
the example and he works over OH.

_Note_: Maybe we need to work on the example because it uses many delay(20)
on it

What do you think?

Regards

[2015-10-06 19:11] ribico opened #187 "DONTROUTE prevent peers join"
Dear friends,
after my last update a big part of the network seems no more able to join the GW (from node number 5 on)
Reverting back to the last working setup (souliss a1e868f5 of 25 August) I got everything up again.

So the issue should be introduced after that commit.

Here are some logs from the latest commit (not working) and the a1e868f5 (working)
[not_working.txt](https://github.com/soulis

[2015-10-06 20:04] plinioseniore commented on #187
Likely, this commit f36f411658 fix your issue

[2015-10-07 09:00] plinioseniore commented on #180
This can be redesigned as general purpose combox, then the user will be able to have multiple selection in once.

I will forward this into SoulissApp and see what they say about.

[2015-10-07 09:11] marksev1 commented on #180
A bit of off-topic -> Juan will you still add preliminary WS2812 support into the ESP sketch of yours? Maybe just color picker and stuff thats been working for now (or maybe even that spanish guy's animations stuff as an intermediate before stuff gets implemented into Souliss main code),

[2015-10-07 15:35] juanpintom commented on #180
Ok Dario.

2015-10-07 11:00 GMT+02:00 Dario Di Maio notifications@github.com:

[2015-10-07 15:40] juanpintom commented on #180
We can work on a simple example
https://github.com/souliss/souliss/issues/180#issuecomment-144805293based
on NeoPixel library to get it working with Souliss and a T16, we just need
to change the Output lines with Neopixel function and Souliss values
instead of AnalogWrite (Souliss Value)

Regards

2015-10-07 11:11 GMT+02:00 marksev1 notifications@github.com:

[2015-10-07 20:55] ribico commented on #187
tested and working, thanks.

[2015-10-07 20:55] #187 closed, assigned to plinioseniore

[2015-10-07 22:43] plinioseniore opened #188 "Analog values doesn't process zero value"
If zero value is passed, that isn't processed ad updated to SoulissApp and other nodes.

[2015-10-08 08:42] marksev1 commented on #180
Cool then I'll order few ws2812 leds :)

[2015-10-08 16:38] plinioseniore commented on #177
Fixed, now if both 1 and 3 are active, 3 is used by default.

[2015-10-08 16:38] #177 closed, assigned to plinioseniore

[2015-10-08 16:39] plinioseniore commented on #175
@fazioa @mcbittech with the work on the thermostat you have deeply tested the T31, please let me know if this can be considered closed.

[2015-10-08 16:52] mcbittech commented on #175
For me must be tested more.
With thermostat we can test it deeply.
I say you when it can be closed.

Flavio.
Il 08/ott/2015 18:39, "Dario Di Maio" notifications@github.com ha scritto:

[2015-10-09 07:37] plinioseniore commented on #188
@fazioa @mcbittech have you found the same problem while using the thermostat?

[2015-10-11 21:24] juanpintom commented on #188
Yes, this value isn't processed, I always use an if (value = 0) value = 0.01;

Regards

[2015-10-13 15:24] ribico opened #191 "uint16_t Souliss_HalfPrecisionFloating(U8 *output, float *input) is not returning anything"
Am I wrong or this function should return void ?

[2015-10-13 19:27] plinioseniore commented on #191
Yes it should

[2015-10-16 09:20] #191 closed, assigned to nobody

[2015-10-16 09:21] plinioseniore opened #193 "Add a broadcast boot message"
It could be useful if nodes can broadcast a boot message at startup, this doesn't to be processed by nodes but just rebroadcasted to reach all the network. So that from each point in the network you can detect if a node has restarted.

[2015-10-18 11:04] plinioseniore opened #194 "Add "All includes before here!!!" statement in all example"
Several people doesn't recognize that configuration defines hasn't effect if are placed after Souliss.h include.

Add a statement in all examples.

[2015-10-20 05:53] plinioseniore opened #195 "Return Unsupported Command"
Add the Unsupported Command in case of frames or Souliss command that cannot be parsed.

[2015-10-21 20:41] #195 closed, assigned to nobody

[2015-10-21 22:22] juanpintom commented on #175
Hi all, I added a T31 and get an infinite loop on the log:
(vNet)<MEDIA><|0x3>
(vNet)<OUT><DADDR><|0xAB01><|0x23|0x17|0xAB01|0xAB05>
(MaCaco)<OUT><|0x15|0x0|0x0|0x57|0x18|0x>
(vNet)<OUTPATH><|0x3>
(vNet)<MEDIA><|0x3>
(vNet)<OUT><DADDR><|0xAB01><|0x23|0x17|0xAB01|0xAB05>
(MaCaco)<OUT><|0x15|0x0|0x0|0x57|0x18|0x>
(vNet)<OUTPATH><|0x3>
(vNet)<MEDIA><|0x3>
(vNet)<OUT><DADDR><|0xAB01><|0x23|0x17|0xAB01

[2015-10-22 07:10] plinioseniore commented on #175
Seems that your node has always something to transmit, have you a deadband on the analog value that you are reading?

[2015-10-22 11:39] juanpintom commented on #175
I get the temp value from a Dallas sensor with importanalog function
without a deadband, can you help me to add a deadband?

Regards
El 22/10/2015 09:10, "Dario Di Maio" notifications@github.com escribió:

[2015-10-22 11:47] plinioseniore commented on #175
Share your sketch

[2015-10-22 12:06] plinioseniore opened #196 "Introduce phase shift"
Actually if multiple logic needs to run at same interval, there is no way to split them in multiple time shift and balance the load of the node.

Ad additional parameter FAST_50ms(n) should be available to specify the shift of the execution.

[2015-10-22 13:41] juanpintom commented on #175
It's already integrated on my v4 sketch:
https://github.com/juanpintom/Souliss_ESP_Examples/tree/master/SoulissDomo_Device_Example/Souliss_ESP_v4

You can found the lines related to the T31 at 196 and 245 on this file:
https://github.com/juanpintom/Souliss_ESP_Examples/blob/master/SoulissDomo_Device_Example/Souliss_ESP_v4/SetupAndLoop.h:

Regards

2015-10-22 13:47 GMT+02:00, Dario Di Maio notifica

[2015-10-22 18:16] plinioseniore commented on #196
Closed with f255edba

[2015-10-22 18:16] #196 closed, assigned to plinioseniore

[2015-10-22 18:35] #194 closed, assigned to plinioseniore

[2015-10-22 18:42] #167 closed, assigned to plinioseniore

[2015-10-22 18:43] plinioseniore commented on #110
The XML is no longer maintained and is actually available only as legacy support.

[2015-10-22 18:43] #110 closed

[2015-10-22 18:44] plinioseniore commented on #87
The XML interface is no longer maintained, is available only as legacy support.

[2015-10-22 18:44] #87 closed

[2015-10-22 18:45] plinioseniore commented on #80
This cannot be solved, if routing is required the SetAddress shall be used instead.

[2015-10-22 18:45] #80 closed

[2015-10-22 23:17] juanpintom commented on #175
I removed the Import Analog line and the loop isn't on the log, so the problem seems to be the deadband.

Regards

[2015-10-24 07:11] sidaga opened #197 "Is it possible to run souliss server on tp link wrn703 running openwrt"

[2015-10-24 10:04] plinioseniore commented on #197
@sidaga actually the Souliss Gateway code compiles only for AVR and ESP8266, you can't use it on openWRT or other Linux distro.

[2015-10-24 10:04] #197 closed, assigned to nobody

[2015-10-24 10:38] plinioseniore commented on #175
Can you please point me in the line where you are reading the analog value?

[2015-10-24 11:12] plinioseniore commented on #188
I've tested that the node now converts zero in 0x8000, so from the node side things looks ok. I need someone else to test, @juanpintom if you can have a try.

[2015-10-24 14:35] juanpintom commented on #175
https://github.com/juanpintom/Souliss_ESP_Examples/blob/master/SoulissDomo_Device_Example/Souliss_ESP_v4/SetupAndLoop.h#L275

2015-10-24 12:38 GMT+02:00 Dario Di Maio notifications@github.com:

[2015-10-24 15:17] plinioseniore commented on #175
My bad, the deadband is not in the sketch but in Typicals.h defined as Souliss_T3n_DeadBand. Try to increase this value.

[2015-10-24 18:32] juanpintom commented on #175
Hi, tested with 0.05 0.1 and 0.5, same result

Regards

2015-10-24 17:17 GMT+02:00 Dario Di Maio notifications@github.com:

[2015-10-25 16:12] plinioseniore opened #198 "Move the DEBUG #define in the configuration file"
Having the DEBUG #define configurable will give more freedom and support for debugging out of USART, as example we can print messages on a Telnet connection.

[2015-10-25 16:46] plinioseniore opened #199 "Broadcast Config not complete"
Actually the Broadcast Config in MaCaco isn't completed and doesn't work properly

[2015-10-25 16:51] juanpintom commented on #175
Tested with this folk with hysteresis and same result too:
https://github.com/stefanst/souliss

Regards

[2015-10-25 16:54] plinioseniore commented on #175
Doesn't see anything different in that fork

[2015-10-25 16:57] plinioseniore commented on #174
In 3957b1 an additional comment has been added, is actually not easy to unify the use of ESP8266 and MRF24, but the MRF24 is basically unused and the problem will get a fix once MRF24 support will be dropped

[2015-10-25 16:57] #174 closed, assigned to plinioseniore

[2015-10-25 17:06] juanpintom commented on #175
He added the hyteresis value and some changes on t3n file:

https://github.com/stefanst/souliss/commit/826a3e60d829b49a8a181cc5eadd12695183a57a

from this post on the ML
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/souliss/mSmRJQf1-aE/HJJ-divmCQAJ

[2015-10-25 17:15] juanpintom commented on #198
This will be awesome!, we can get debug of ESP nodes via wifi .)

Good idea!

Regards

2015-10-25 17:12 GMT+01:00 Dario Di Maio notifications@github.com:

[2015-10-27 23:28] marcolino7 opened #201 "T16 set Brightness issue"
Setting up brighness, the color of the led change, as per this post on ML:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/souliss-it/EynQRqapQVo

[2015-10-27 23:29] plinioseniore opened #202 "Many wiki images are still from Google User Contents"
As per title, many wiki images has not yet been included in the wiki-images repostiory. Below the list updated as per today

[code]

[2015-10-28 17:30] brutevinch opened #204 "T52 only -20???"
Please tell me what if i want to measure -32C? maybe "add -40 capability" will be feature request?

[2015-10-28 17:32] brutevinch commented on #204
Typical 52 : Temperature measure (-20, +50) °C ---- strange but -32.4C works well..... What seems (-20, +50) °C

[2015-10-28 19:43] plinioseniore commented on #204
Hi, that is only the range of the bar on SoulissApp, but you can represent
any value.

[2015-10-28 20:01] #204 closed, assigned to nobody

[2015-10-28 20:05] plinioseniore opened #205 "Simple HTTP Interface"
In the next SoulissApp releases Zozzariello will be removed, actually the HTTP and XML interfaces are not supported on ESP8266. The support should be extended to ESP8266 with a new interface, simpler than the actual XML and available for both AVR-W5x00 and ESP8266.

[2015-10-29 23:02] marcolino7 commented on #201
Hi Dario,
bottom to this sketch, you'll find a T16bis and it is the one I'm working on.
https://github.com/marcolino7/Souliss_ESP8266_RGB/blob/master/Souliss_ESP8266_RGB.ino

Setting Brigthness work for all colors and white
Do not work yet:
1) Fade IN and OUT when turn on and off
2) Flash button do nothing and I do not know how it should work
3) Sleep button do nothing and I do not know how it sho

[2015-11-01 15:23] crosofg opened #207 "ESP8266 Mesh Network"
Hi Can any sort of mesh networking be achieved using Souliss Framework?
Can you guys give something to start?

[2015-11-01 17:12] plinioseniore commented on #207
The ESP8266 cores for Arduino has example for WiFi mesh, I'm having a look
at to understand how it works and if can be used with Souliss

[2015-11-01 19:56] #202 closed, assigned to plinioseniore

[2015-11-01 19:58] plinioseniore commented on #207
@crosofg had a quick look, the ESP8266 cores for Arduino support a very raw mesh that is basically a mix of STA and AP mode, so that nodes can interconnect but it doesn't offer any routing, so isn't a mesh at all.

Souliss doesn't have a mesh, but a tree structure and you can use it with a combination of STA (connection to an access point) and AP (access point), if you are interested to cover a lo

[2015-11-01 20:40] YoannLe opened #208 "[T3n] Need new Typical for Electric Heaters"
I'm working on design of boards for souliss based on ESP8266.
I've finish to test my version for electrics curtains controls and I will publish code and boards files soon.

Common goals for these designs:

the boards must fit in standard electric wall boxes
- be supplied by 230V
- limit the number of components for DIY feasibility
- under 50€ by complete unit (logic and power board)
- common logic

[2015-11-01 20:49] plinioseniore commented on #208
Nice, does you need to synch with the zero crossing?

From Mobile.

[2015-11-01 20:54] plinioseniore commented on #208
Ok, looking at your circuit the first four are just a static set of two
bits that drives the mosfets.

What about the last two?

From Mobile.

[2015-11-01 21:04] YoannLe commented on #208
No need sync, modes are based on positive, negative or both part of AC waveform.

Two optional modes use a timing (few seconds) alternate of no signal and full AC waveform.

[2015-11-01 21:13] plinioseniore commented on #208
Yes got it, we can use four T11 to set the operating modes and force the
bits that drives the gates of your mosftets.

Is your hardware ready?

[2015-11-01 21:23] crosofg commented on #207
Yeah longer range will be great. Can you have a look at this?
https://github.com/espressif/ESP8266_LIGHT_WITH_MESH

[2015-11-03 05:36] YoannLe commented on #208
I've updated my schematic, PCB is almost routed, I will send it to the fab next days.

![powerboardpcb](https://cloud.githubusercontent.com/assets/5211190/10901879/413f665a-81f6-11e5-8fd6-d453448e5394.png)

[2015-11-07 18:02] marcolino7 opened #209 "T18 does not turn off relè if feedback not come back"
T18 does not turn off the control relè if feedback is not coming.
In case of failure of feedback circuit, the stepper relè may be burned.
A safe timer of some second should be implement to turn off relè in case feedback is not coming

[2015-11-08 15:22] plinioseniore commented on #201
@marcolino7 have a try with 2b66ade61e and let me know if T16 behaves correctly

[2015-11-08 15:23] plinioseniore commented on #209
Can you please post your sketch?

[2015-11-08 15:24] plinioseniore commented on #208
@YoannLe let me know when you are ready to test, in the while I'm closing this issue

[2015-11-08 15:24] #208 closed, assigned to nobody

[2015-11-08 15:48] plinioseniore commented on #188
@juanpintom had a try? I had a test just now and looks working fine, reopen the issue if you will have problems

[2015-11-08 15:48] #188 closed, assigned to plinioseniore

[2015-11-08 15:51] plinioseniore commented on #175
The bugfix by @stefanst has been merged into the main friariello branch

[2015-11-08 16:46] marcolino7 commented on #209
https://github.com/marcolino7/Souliss_Ingresso/blob/master/Souliss_Ingresso.ino

[2015-11-08 17:11] plinioseniore commented on #209
Looks that you are missing the timer,
https://github.com/souliss/souliss/blob/friariello/examples/DINo/e07_StepRelay/e07_StepRelay.ino

[2015-11-08 17:27] marcolino7 commented on #201
Hi Dario,
I fixed compilation issue. Things does not work:
ON/OFF Button
Flash Button
Sleep Button

Brightness regulation have some issue. For example, if I setup yellow at max brightness, became red at minimum brightness

[2015-11-08 18:20] marcolino7 commented on #201
Hi @plinioseniore
all work. With last commit, fade out still not working. When you press off, wait a couple of second, then turn off led without fade

[2015-11-09 15:40] juanpintom commented on #188
Ok, if I found something wrong I let you know

Regards

2015-11-08 16:49 GMT+01:00 Dario Di Maio notifications@github.com:

[2015-11-09 23:16] FulvioSpelta commented on #209
I confirm, the following part has to be added for every T18 (approx 500 ms timer);`

[code]

`

[2015-11-09 23:16] #209 closed, assigned to FulvioSpelta

[2015-11-10 19:18] plinioseniore commented on #201
@marcolino7 try the last commit, fade-out should be ok now.

[2015-11-11 20:49] fazioa opened #211 "T31 has inverted states (healting/cooling)"

[2015-11-11 23:35] fazioa commented on #211
All is correct.
After debug I seed that states (Heating/Cooling Mode) are not inverted.
I do a pull request, because some lines of code can be removed I think.
https://github.com/souliss/souliss/pull/212

[2015-11-12 06:45] plinioseniore commented on #211
Merged

[2015-11-12 06:45] #211 closed, assigned to fazioa

[2015-11-14 10:54] plinioseniore opened #213 "Moteino with ENC28J60"
Verify pin mapping for this configuration and update the wiki.

[2015-11-14 12:25] crosofg commented on #207
Hi Did you get a chance to look the mesh implementation provided by Espressif?

[2015-11-14 12:38] plinioseniore commented on #207
You can try your self combining STA and AP mode to get your needs.

[2015-11-14 12:38] #207 closed, assigned to plinioseniore

[2015-11-24 20:06] marcolino7 commented on #201
Hi Dario
T16 still have this issue:

Ciao Dario,
I just loaded this sketch deom MeroFilosofo,
it works also OTA.
Still remain issue on T16 just described 10 days ago in Chat

1) Startup Node
2) Press ON and led strip turn on
3) Press OFF and led strip fade off
4) Press ON again, led turned on
5) Change the color, the black circle inside color circle still remain black
6) OFF does not work anymore

[2015-11-24 20:22] marcolino7 commented on #201
In addition following command have no effect and do nothing:
FLASH
SLEEP

[2015-11-29 11:27] plinioseniore commented on #175
@mcbittech @fazioa had a chance to try the last modification by @stefanst? Are things working properly with your thermostat?

[2015-11-29 11:46] fazioa commented on #175
Yes. It seems works.
Il 29/nov/2015 12:27, "Dario Di Maio" notifications@github.com ha scritto:

[2015-11-29 11:57] plinioseniore commented on #180
This can be of interest,
http://www.ebay.com/itm/LED-RingPixels-WIFI-WifiPixels-16-x-WS2812B-RGB-LEDs-ESP8266-/281786638390?hash=item419bcae036:g:6XsAAOSwjVVV4rWN

[2015-11-29 12:40] plinioseniore opened #214 "Support for new 2.0 ESP8266 cores"
New ESP8266 cores has been relased in staging, support shall be extended. In the new cores:
1) A rewritten OTA support
2) PWM handled directly in RAM, this remove the needs for some tricky workarounds included in the LYT8266 examples.

[2015-11-29 18:54] plinioseniore commented on #201
@marcolino7 commit 04b20b890 fix the problem with OFF command, FLASH is not used actually and will be added.

The SLEEP is based on the external timer, how you actual sketch use the timer?

[2015-11-29 18:55] #175 closed, assigned to fazioa

[2015-11-29 18:57] plinioseniore commented on #180
I'm closing this issue, these type of LED can be used combining mutliple Typical yet supported. There is no plan to add on SoulissApp a dedicated one, if it will, the code on the board side will be updated.

[2015-11-29 18:57] #180 closed, assigned to nobody

[2015-11-29 19:08] plinioseniore commented on #199
The addrsrv is not reset from the WebConfig, and this leads at multiple IP definitions.

[2015-11-29 22:20] marksev1 commented on #180
Do I understand you correctly, that you are saying, there are already Typicals in place that could support this kind of LED?

[2015-11-30 07:03] plinioseniore commented on #180
Not exactly, this LEDs has the same property of any other RGB led the only
difference is that you can set different effects.

So, you can create with a T14 buttons to select and effect and a T16 to
choose the color.

Dario.

[2015-11-30 11:30] marksev1 commented on #180
Will you be playing with this leds? Can we expect a example in the souliss repo in the future :)

[2015-11-30 15:01] juanpintom commented on #180
Yes, effects can be done with T14, but we'll need 30+ T14 to have all the
effects :(  A combobox on a T16b with this effects will be better.

Regards

2015-11-30 12:30 GMT+01:00 marksev1 notifications@github.com:

[2015-12-01 20:26] plinioseniore commented on #180
We could use a single button that changes the effect at every press. A
couple of WifiPixels are on the way, I will play a bit with.

[2015-12-15 22:34] dariocdj opened #219 "NRF Direct support for ESP8266"
The idea is to integrate in Souliss NRF Library for ESP8266. In this way we can build an integrated gateway (esp+nrf) that can support Low Power Batteries nodes.
MySensors esp8266 gateway connect esp to nrf in this way :
http://www.mysensors.org/build/esp8266_gateway

I've built (in my previous system) stable and cheap nodes with arduino pro mini 3.3v + nrf24l01 with some simple mod : removing reg

[2015-12-16 06:44] archiijs commented on #219
It would be weary nice, I still think of NRF node for my mailbox, so
integrated library wold make things easier for me.

2015-12-16 1:06 GMT+02:00 Dario notifications@github.com:

[2015-12-16 06:59] plinioseniore commented on #219
I will, there is a yet ready library.

From Mobile.

[2015-12-16 08:54] dariocdj commented on #219
Thanks waiting 4 u ....

[2015-12-16 14:47] juanpintom commented on #219
+1, am not agree with nRF, was unstable for me, but I have nRF to test it.

Regards

2015-12-16 9:54 GMT+01:00 Dario notifications@github.com:

[2015-12-16 15:19] marcolino7 commented on #219
I leaved nfr due unstability caused by power supply.
I do not go over to test battery node. I have a lot of this modules, hope in future battery node live again.

Marco

[2015-12-16 17:58] dariocdj commented on #219
Marco, believe me, after 1 year (10mt distance) pheraps this node has crashed 1 TIME !!! IN 1 YEAR !!!! and i've used 2 AA Batteries that after 1 year are at 82% of charge (!!!!)
Ah, is there planned to put charging level of batteries in nodes ?

[2015-12-16 18:44] pistoletov1974 commented on #219
+1 nrf24l01 is realy nice modules!  Is it possible to make nodes on nrf24le1 (nrf+8051)?

[2015-12-16 21:56] marcolino7 commented on #219
Hi Dario2,
me and Dario1 worked to Battery Node, but we were stopped by some issues. My problem with nrf is with node powered by 220 Volt and power supply, they are more unstable when power is not filtered. For this reason I abandoned nrf for ESP into 220V powered node.
If you have experience with nrf and battery node, please share your experience on ML, I'm very intrested.

Marco

[2015-12-17 06:55] dariocdj commented on #219
Absolutely, if you want when nrf24 esp support is ready i can write a tutorial to build low power node, of course... Waiting for plinioseniore porting  library in souliss... Dario1 we're waiting you :)

[2015-12-17 07:25] pistoletov1974 commented on #219
My modules nrf did not work without electrolytic capacitor on power pins. I strongly recomend to use it with 220v or battery supply. Few evenings i thought that problem was  in code but after adding capacitor all problems have been resolved.

[2015-12-17 09:40] marcolino7 commented on #219
@pistoletov1974 I know about capacitor, but I have an old house with thick walls, and gateway is on another floor, so some distance nrf node loose connection with gateway. For 220V powered node I moved to ESP, but I'm looking to a valid solution for Battery node too.

Marco

[2015-12-17 11:36] dariocdj commented on #219
In my old sys it works perfect without capacitor... the only electronic component is 1M resistor for reed (door/window low power sensor).

[2015-12-17 11:50] plinioseniore commented on #219
A preview will be available late today, I will just verify that compiles properly with a dedicated example. Actually I cannot do further testing, so please keep you boards ready for testing.

[2015-12-17 12:09] dariocdj commented on #219
I'm ready, if you can give us connections we can prepare hardware....

[2015-12-17 12:17] plinioseniore commented on #219
Same as MySensors

| NodeMCU | Radio | Comment |
| :-: | :-: | :-: |
| GND | GND | Black |
| 3V3    VCC | Red |  |
| D2 | CE | Orange |
| D8 | CSN/CS | Yellow |
| D5 | SCK | Green |
| D7 | MOSI    Blue |  |
| D6 | MISO | Violet |

http://www.mysensors.org/build/esp8266_gateway

[2015-12-17 12:37] dariocdj commented on #219
Ok for people without nodemcu :
- nRF24L01+  ESP8266
- VCC        VCC
- CE         GPIO4
- CSN/CS     GPIO15
- SCK        GPIO14
- MISO       GPIO12
- MOSI       GPIO13
-

[2015-12-17 14:53] plinioseniore commented on #219
@dariocdj have a try with [this](https://github.com/souliss/souliss/tree/nrf24_esp8266) branch that is more or less a copy/paste of the code @TMRh20. I haven't done any test, I just now that this compile.

There are two example that could be used for the scope,
[e05_WiFi_nRF24_gateway](https://github.com/souliss/souliss/tree/nrf24_esp8266/examples/wireless/e05_WiFi_nRF24_gateway)
[e05_WiFi_nRF24_p

[2015-12-17 14:55] plinioseniore commented on #219
Just seen that I've forgot to add the following:

[code]

This will define the CE and CS pin used for the scope, I will add those by default while using the ESP8266 if things will work.

[2015-12-17 16:13] dariocdj commented on #219
Ok, i think it miss #endif... but what library do i must install ? the one found in http://tmrh20.github.io/RF24/index.html ?
because - obviously - with normal #include "conf/nRF24L01.h"  there's a tons of compile error....

Tnx
Dario

[2015-12-17 16:19] DD-WRT opened #220 "Arduino MEGA2560+ENC28J60..."
Greetings to everyone ,
I do the electronic, I built souliss with ATMEGA 2560 + ENC28J60+Nrf24L01+PA as the gateway, and the Arduino mini pro + NRF24L01 node, as I put the sketch hello world in the mega 2560 and have established communication with APP, works great run relay  on-off,  will now issue is that sketch to enroll in gateway that the node or set to match them in the system.
- I need a con

[2015-12-17 16:20] plinioseniore commented on #219
@dariocdj the libraries are included in Souliss and you don't need addition libraries.

It compile succesfully with me, have you installed code from the new branch linked before?

[2015-12-17 16:21] plinioseniore commented on #219
Please note that is #define and not #ifndef alse I'be wrongly wrote before.

[2015-12-17 16:34] dariocdj commented on #219
Ok sorry, didn't download new branch, it compile without errors.... i try gateway....

[2015-12-17 18:00] plinioseniore commented on #220
Isn't much clear your problem, you can't get your Peer node online?

[2015-12-17 18:00] plinioseniore commented on #219
Let me know if you get it working

[2015-12-17 18:14] DD-WRT commented on #220
I got online gateway(souliss-app go green and respond), but I have only Mega + ENC, Nrf is not connected and I do not know how to set up the sketch, because it only works on gateway relay (use only for test) have constructed and RX-node but do not have a sketch for but do not know how to sign on gateway.

[2015-12-17 18:20] plinioseniore commented on #220
In the folder example/wireless there are several examples, the 02 is a good starting point. Consider to have proper connections,
https://github.com/souliss/souliss/wiki/Transceiver%20Connection

[2015-12-17 18:29] DD-WRT commented on #220
plinioseniors, first to thank you for the answer, if he can ask that we propose finished .ino file that needs to put in gateway and also .ino file that needs to put in the node. Hardware, electronics I know a lot but this is the writing sketch and libraries arduino not much so please if you can give me sent file arranged to throw and get it to run as an example.
Thanks again

[2015-12-17 18:35] dariocdj commented on #219
Ok guys, esp working with another souliss sketch, also with this new branch... when i upload e05_WiFi_nRF24_gateway esp restart in loop :(without nrf connected...) :+1:
wdt reset
load 0x4010f000, len 1264, room 16
tail 0
chksum 0x42
csum 0x42
~ld

 ets Jan  8 2013,rst cause:4, boot mode:(3,6)

wdt reset
load 0x4010f000, len 1264, room 16
tail 0
chksum 0x42
csum 0x42
~ld

 ets Jan  8 2013,rst cause

[2015-12-17 20:28] plinioseniore commented on #219
Same if you have the nRF connected? It may be that is looking for the device on the SPI and get in stuck while waiting for an answer.

I've not looked deeply in the code, but your ESP8266 is having a watchdog reboot, that is usual when the code is locking.

[2015-12-17 20:35] plinioseniore commented on #220
The given example should be a good starting point, use those for your case and post your sketches if you didn't get them working.

[2015-12-18 08:20] dariocdj commented on #219
Sorry, i've tried also with nrf connected and double checked connection but always similar result :

wdt reset
load 0x4010f000, len 1264, room 16
tail 0
chksum 0x42
csum 0x42
~ld

 ets Jan  8 2013,rst cause:4, boot mode:(3,6)

wdt reset
load 0x4010f000, len 1264, room 16
tail 0
chksum 0x42
csum 0x42
~ld

 ets Jan  8 2013,rst cause:4, boot mode:(3,6)

wdt reset
load 0x4010f000, len 1264, room 16
ta

[2015-12-18 09:03] dariocdj commented on #219
meanwhile, Just to do something, i'm programming arduino pro mini with peer sketch and connection of nrf using this scheme :

nRF24L01+      PRO MINI 3.3V
GND                   GND
VCC                   VCC
CE                      D9
CS                     D10
SCK                  D13
MOSI                D11
MISO               D12

Programmed regulary... but can't test it ....

[2015-12-18 15:17] dariocdj commented on #219
Any news?

[2015-12-18 16:11] dariocdj commented on #219
OK NEWS :
Missing define must be put in code immediately after
#define WIFICONF_INSKETCH
#define WiFi_SSID               "mywifi"
#define WiFi_Password       "myfpass"

Ok now gateway is online.... let me test if peer works...

[2015-12-18 16:26] dariocdj commented on #219
Woww... pheraps something is missing, but SoulissApp recognize 2 nodes (!!!) but 0 devices inside nodes....  So, if nodes is defined on Arduino+NRF peer ( Set_T11(LIGHT1_NODE1);
Set_T11(LIGHT2_NODE1); ) it would tell us that NRF BRIDGE WORKS !!! Or i'm understanding wrong something?

[2015-12-18 16:28] marcolino7 commented on #219
Hi Dario,
souliss app download node from Gateway and Typical from nodes. So if you get Empty nodes perhaps nrf comunication is not working

[2015-12-18 16:35] dariocdj commented on #219
Yes that's it... too easy.... two nodes found are Gateway itself and nrf bridge i suppose (0x6501)....

or pheraps @plinioseniore has not updated nrf driver for arduino and the old one is not compatible with new one?? (if this is my mistake i bang my head obviously).

and then, how to debug this issue ?

[2015-12-18 16:38] marcolino7 commented on #219
We need Dario1 @plinioseniore

[2015-12-18 20:34] plinioseniore commented on #219
Enable the debug on both nodes and include here the results.

[2015-12-18 22:09] dariocdj commented on #219
Ehm, sorry for question, how i can enable debug? #define DEBUG? And then output of serial?

[2015-12-18 22:09] dariocdj commented on #219
Ehm, sorry for question, how i can enable debug? #define DEBUG? And then output of serial?

[2015-12-18 22:51] plinioseniore commented on #219
Here the details, logs will be printed on the Serail monitor https://github.com/souliss/souliss/wiki/TroubleShootSouliss

[2015-12-19 08:20] dariocdj commented on #219
Ok li attivo tutti? O basta vnet e souliss?

Inviato da smartphone Samsung Galaxy.

-------- Messaggio originale --------
Da: Dario Di Maio notifications@github.com
Data:18/12/2015  23:52  (GMT+01:00)
A: souliss/souliss souliss@noreply.github.com
Cc: Dario cdj@deskservice.com
Oggetto: Re: [souliss] NRF Direct support for ESP8266 (#219)

Here the details, logs will be printed on the Serail monitor

[2015-12-19 08:21] dariocdj commented on #219
Ops sorry for Ita, ok can I turn on all logs or it's sufficient only vnet and souliss one?

[2015-12-19 09:59] plinioseniore commented on #219
vNet is enough in this case. Thanks.

From Mobile.

[2015-12-19 14:40] dariocdj commented on #219
Here's the log... but seems to be all 0 ....

[log_gw.txt](https://github.com/souliss/souliss/files/67502/log_gw.txt)
[log_peer.txt](https://github.com/souliss/souliss/files/67503/log_peer.txt)

[2015-12-19 15:12] plinioseniore commented on #219
Thanks @dariocdj seems that something is transmitted or that drivers gets wrongly data available flags, even if there is nothing more that a bunch of zeros.

I will try to have a look at, but I don't know if it will be easy without having the hardware with me.

[2015-12-19 15:58] dariocdj commented on #219
do you want me sending a couple of nrf?

Inviato da smartphone Samsung Galaxy.

-------- Messaggio originale --------
Da: Dario Di Maio notifications@github.com
Data:19/12/2015  16:12  (GMT+01:00)
A: souliss/souliss souliss@noreply.github.com
Cc: Dario cdj@deskservice.com
Oggetto: Re: [souliss] NRF Direct support for ESP8266 (#219)

Thanks @dariocdj seems that something is transmitted or that driv

[2015-12-19 16:07] plinioseniore commented on #219
I've some nRF radios as well as some ESP8266, but not time to install the nodes and test them in these days. I may try to have a look at the code, to see if something is odd and issue a new code to be tested.

Otherwise I will setup a demo to test it out as soon as I will have some time.

[2015-12-20 14:29] DD-WRT commented on #220
Thanks a lot for you,  this works great  :)
I still question what to change to work with ENC28J60 ,
I tried to change  #include "conf / ethW5100.h"  to this  #include "/conf/ethENC28J60.h" but ide
tells me error can not find my library ,
and how to add more peer nodes (I think you only need to change the #define Peer_address) and maybe I'm wrong.
Thanks a lot

[2015-12-22 15:17] dariocdj commented on #219
@plinioseniore do you think that it's better than i start with an esp-arduino-nrf gateway or pheraps in this holiday you can try to fix it?

[2015-12-22 15:37] juanpintom opened #222 "Warning Error, redeclared Souliss_T1n_BrightDefault at Typicals.h"
Isn't important, just a Warning on compilation, Souliss_T1n_BrightDefault  is defined here:
https://github.com/souliss/souliss/blob/friariello/Typicals.h#L103
And here again with a different value:
https://github.com/souliss/souliss/blob/friariello/Typicals.h#L109

Regards.

[2015-12-24 00:47] plinioseniore commented on #220
This is an example for ENC28J60 https://github.com/souliss/souliss/blob/friariello/examples/ethernet/e01_HelloWorld_uIP/e01_HelloWorld_uIP.ino

[2015-12-24 17:59] DD-WRT commented on #220
Thanks Dario ,
I tried it and it works, but in there skech is no support for the Nrf module, I see that when using ENC28J60 uses the same bus in which a real conflict of MISO, MOSI line and the question is how to assign other software SPI pins for NRF modules.
We all excellent works with W5100 network module (successfully connected, nodes, gateway, relay, but I want to connect with ENC.

[2015-12-24 22:48] plinioseniore commented on #220
You can use the SoftwareSPI incldued in DigitalIO library, you need to download that library and follow the istruction to set it up with Souliss
https://github.com/souliss/souliss/wiki/Transceiver%20Connection#nordic-nrf24l01-and-nrf24l01

[2015-12-28 11:42] plinioseniore commented on #222
Latest commit has a fix for this

[2015-12-28 11:42] #222 closed, assigned to nobody

[2015-12-29 23:35] plinioseniore commented on #219
@dariocdj sure you can use the nRF connected to an AVR, that will work. I had not time to look at the code and have a side by side comparison.

[2016-01-04 11:04] plinioseniore commented on #213
Wiki updated.

[2016-01-04 11:04] #213 closed, assigned to plinioseniore

[2016-01-04 11:05] plinioseniore commented on #198
4bb31428518

[2016-01-04 11:05] #198 closed, assigned to plinioseniore

[2016-01-04 11:05] plinioseniore commented on #214
The branch esp8266_core2 has started

[2016-01-04 17:45] juanpintom commented on #214
Im working with 2.0 and webupdate without problems.

PWM it's working well but I see blinks (bright changes) sometimes.

Regards

2016-01-04 12:05 GMT+01:00 Dario Di Maio notifications@github.com:

[2016-01-04 21:17] dariocdj commented on #214
Juan also with 1.6 with my dimmer sometimes it blinks one time....

Inviato da smartphone Samsung Galaxy.

-------- Messaggio originale --------
Da: Juan Pinto notifications@github.com
Data:04/01/2016  18:45  (GMT+01:00)
A: souliss/souliss souliss@noreply.github.com
Cc: Dario cdj@deskservice.com
Oggetto: Re: [souliss] Support for new 2.0 ESP8266 cores (#214)

Im working with 2.0 and webupdate with

[2016-01-06 20:33] plinioseniore opened #223 "Bug in Dynamic Mode"
As reported in the ML, in latest release the SuperNode doesn't assign a subnet when requested.

Details at [this](https://groups.google.com/d/msgid/souliss/b3ca5edc-8842-41ce-b974-6694239ec61c%40googlegroups.com?utm_medium=email&utm_source=footer) link.

[2016-01-08 16:13] #223 closed, assigned to plinioseniore

[2016-01-10 02:33] YTNic opened #225 "Error compliling Souliss-HelloWorld example. Please Help."
Hello,
I am fairly new to Arduino in general, but i have had several projects up and running so I do understand most of the basics.  I am just now starting to work with Souliss and I can't even get the Ethernet-HelloWorld example to run.  I get the message "fatal error: bconf/StandardArduino.h: No such file or directory".  I have not added or changed anything in the example and the bconf file is t

[2016-01-10 09:05] plinioseniore commented on #225
You are missing the dot
#include "bconf/StandardArduino.h"

I see that you are also using an unsupported release of the IDE, keep it in
mind if you will have further problems.

[2016-01-10 16:16] YTNic commented on #225
Thank you for your help plinioseniore.

I apologize, as I am very new to all of this.  I don't know what you meant by missing the "dot".  #include "bconf/StandardArduino.h"  is exactly how mine reads.  Am I just completely misunderstanding what you are saying?

As far as the IDE release, I didn't realize that it was unsupported.  I will try rolling it back and see if that helps.

Thank you again!

[2016-01-10 16:19] plinioseniore commented on #225
I'm sorry, on my mobile it was showing the error message with the dot before the "h", I haven't used Arduino IDE 1.6.7 and so I don't know if it doesn't search properly within the files.

How have you installed Souliss library? Through the Library Manager?

[2016-01-10 16:34] YTNic commented on #225
No worries on the dot issue.

Yes, the Souliss library is installed and I did install it through the Library Manager.  I have also tried removing it and reinstalling it as a .zip, but neither way has worked.

I think you may be on to something with IDE version.

Should I just try 1.6.6 or something other than that?

[2016-01-10 16:38] plinioseniore commented on #225
IDE 1.6.5 https://github.com/souliss/souliss/wiki/Supported%20Hardware#supported-cores

[2016-01-10 16:39] plinioseniore commented on #225
By the way, I'm downloading the 1.6.7 to have a try

[2016-01-10 16:46] YTNic commented on #225
Very good I will give it a shot.

Thank you so much for your help!!!

[2016-01-10 16:54] plinioseniore commented on #225
I can confirm that in IDE 1.6.7 has been changed the pre-processor and it will not find the configuration files, move to 1.6.5 to get things working, in the while I will look for a solution.

[2016-01-10 16:54] #225 closed, assigned to nobody

[2016-01-10 16:55] plinioseniore opened #226 "Arduino IDE 1.6.7 New Preprocessor doesn't compile with Souliss"
In the new IDE the preprocessor has changed and the configuration files are not recognized by the IDE.

At this time, the supported IDE is 1.6.5

[2016-01-10 17:16] YTNic commented on #225
I am now using 1.6.5 and it is working perfectly.

Being new to all of this, I just assumed that I was doing something wrong.
I'm so glad that it wasn't just me.

Huge thanks again for taking the time to help out the "new kid"!  You have
really made me feel very welcomed in a world that is very new to me!

-Nic

On Sun, Jan 10, 2016 at 11:54 AM, Dario Di Maio notifications@github.com
wrote:

[2016-01-10 20:16] plinioseniore commented on #226
For people interested, follow the discussion here
https://github.com/arduino/Arduino/issues/4407

[2016-01-11 19:24] plinioseniore commented on #226
To fix it, as suggested by Arduino team is add a blank .h file at the beginning, this will direct the IDE in the right direction.

[2016-01-12 16:44] IT9IPQ commented on #226
To confirm, with the ide 1.6.7 and souliss-7.1-friariello.1 I got the correct (no library error) compilation by creating an empty file SoulissBase.h into a external library (where Souliss.h) and entering in the sketch at the beginning as the first library the line:
`#include <SoulissBase.h> // load patch to the library for IDE 1.6.7`

[2016-01-16 19:24] #201 closed, assigned to nobody

[2016-01-21 09:07] dariocdj opened #229 "Arduino + ESP + NRF Routing Problem"
Hi everybody.
There's a bug in routing if you have an ESP gateway with an Arduino Supernode USART connected and an NRF24L01  Receiver.
You must add a  RoutingTable(0xd102, 0x6500, 0); to gateway or your peer NRF is not recognized.

Dario Cdj

[2016-01-21 20:04] plinioseniore commented on #229
Actually the `vNet_GetSourceAddress_M2()` and `vNet_GetSourceAddress_M5()` returns always zero, because are both based on a broadcast media that doesn't trasfer by default the address of the sender. So is not possible to identify the middle step between each routed frame.

This can be fixed at vNet driver level, adding as info the address of the sender of a certain frame, because in the vNet frame

[2016-01-21 20:08] plinioseniore commented on #229
I've updated the wiki to specify that only for some cases the automatic path detection works
https://github.com/souliss/souliss/wiki/Add-Multiple-Media#automatic-path-detection

[2016-01-23 17:35] plinioseniore commented on #226
I've updated the examples to compile for 1.6.7, this applies only for AVR based examples because the ESP8266 cores seems not yet ready for 1.6.7.

In any case, the supported IDE is 1.6.5 and will not support officially 1.6.7 but likely just to a new release once ESP8266 core 2 will be full functional with IDE.

[2016-01-23 17:35] #220 closed, assigned to nobody

[2016-01-26 20:47] plinioseniore opened #230 "Conflict with MQTT publish"
The use of `publish` as macro conflicts with MQTT publish, we have to rename.

[2016-01-26 21:00] juanpintom commented on #230
Yes :P

Regards

2016-01-26 21:47 GMT+01:00 Dario Di Maio notifications@github.com:

[2016-01-28 07:05] plinioseniore opened #232 "MaCaco protocol documentation still refer to old Alpha 4 release"
This applies for 0x31 but may also invole other functional codes.

[2016-02-01 18:55] plinioseniore opened #233 "Issue in T31 moving from 7.1 to 7.1.1"
This has been reported by Giuseppe.

https://groups.google.com/d/msgid/souliss-it/ca3e8fb6-9479-44be-874a-e802a8ce1f28%40googlegroups.com?utm_medium=email&utm_source=footer

[2016-02-05 14:51] DD-WRT opened #236 "Temperature Node"
Hello,
I made souliss  system with the gateway i 10 on / off nodes and works perfectly,now the question is how to make temperature (DS1820 or LM35 ) sensor node, right can work wirelessly with NRF24L01 and Arduino UNO/ Mini ??
Thanks :)

[2016-02-05 14:58] stefanst commented on #236
Running a Dallas 18b20 is fairly simple. Look at code below:

#define DALLAS               1              // Address for temp logic

#define DALLASPIN            3              // Dallas Temp sensor is hooked up here. Could be any digital pin
OneWire ourWire(DALLASPIN);                 // Create an instance of OneWire using the pin defined above
DallasTemperature sensors(&ourWire);        // creat

[2016-02-05 19:42] plinioseniore commented on #226
Wiki to be updated

[2016-02-07 07:58] DD-WRT commented on #236
stefanst ;
 thanks for your reply, I found skech with DHT support for a power socket just to get DHT sensor and try if it worked.

[2016-02-07 08:21] DD-WRT opened #237 "Pulse mode command to relay"
Hello everyone,
 I need a sketch for pulse mode command to relay, or if someone can explain how to change it in my sketch .

*how to change the output pin to operate in pulse mode ?
*how to change the input pin to see if it is active, it shows the current situation ??
(while having a trigger output to display ON when there is no input trigger to display OFF )

Thanks

[2016-02-07 08:21] #236 closed, assigned to nobody

[2016-02-07 18:02] plinioseniore commented on #237
If you need that the state of the logics stays at ON and the output get pulsed, use PulseDigOut. Otherwise use T14 to get a pulsed state.

[2016-02-07 18:58] DD-WRT commented on #237
Thanks for the quick response works perfectly with T14 .

[2016-02-07 18:58] #237 closed, assigned to nobody

[2016-02-08 14:52] DD-WRT opened #239 "Air Conditioner Node"
Hello everyone, I have some questions about this node .
- This node works with NRF24, receives commands for gateway and sends IR codes on the air conditioner ?
  *
- How can I add codes for the various models of the devices ?
  I can decode RC5, RC6, NEC protocol to see the control codes for AC ON , UP TEMP, DOWN TEMP, AC OFF and other just how to enroll-add in Sketch.
  *here's an example of the

[2016-02-14 23:51] Giuseppe-P opened #240 "T18 souliss app"
L'icona della lampada all'interno del typical non c'è, compare solo un quadrato.

The icon of the lamp in a typical there appears only one square.

[2016-02-14 23:52] Giuseppe-P opened #241 "T16 RGB"
Con le relase 7.1.1 e 7.2 ho riscontrato un bug nella gestione del T16 STRISCIA RGB e cioè non ha fluidità nel gestire i colori, girando sul cursore alcune volte scatta, cioè si blocca per poi ripartire, ed in più non abilità il flash. Riprogrammata la scheda con identico sketch ma utilizzando la versione 7.1.0 tutto va bene.

With the relase 7.1.1 and 7.2 I found a bug in the T16 STRIP RGB manage

[2016-02-23 20:58] fazioa commented on #226
+1
Thanks

[2016-03-03 07:51] dariocdj opened #245 "Wiki Typicals revision"
If you like you can add at the end of typical wiki page :

Souliss SLOT are related only to single node.
For example, You can have two T11 with SLOT 0 in the same souliss network, but you can't have two T11 with SLOT 0 in the same node.
Be careful that each typical - as you can see above - has assigned a number of slot.

Example : T11 use only one slot, T16 use four slot and T19 two slot. So - BE

[2016-03-03 18:54] artur3 opened #246 "Unstable NRF24L01 network"
Souliss app loses connection with NRF24L01 nodes.
Nodes need lot of time to obtain dynamic address from gateway.
One node stops working when other node is connected.

It looks that updating nRF24 driver in Souliss with code from current RF24 library solves most problems.
Updated driver code:
[RF24.zip](https://github.com/souliss/souliss/files/157430/RF24.zip)

[2016-03-06 19:55] plinioseniore commented on #246
Thanks @artur3 I've merged that nRF24 code into a new branch, we need more people to test it and verify the functionality. Not all nRF24 radios behave as the same and many clones are out there.

https://github.com/souliss/souliss/tree/new_nRF24_AVR

[2016-03-13 12:07] plinioseniore commented on #245
Done, https://github.com/souliss/souliss/wiki/Typicals

[2016-03-13 12:07] #245 closed, assigned to nobody

[2016-03-24 17:49] DD-WRT opened #248 "DHT11 ,not show temperature on app ?"
I have a problem with displaying temperature, humidity conditioning works great :)

![t52](https://cloud.githubusercontent.com/assets/16338721/14025933/b128bd4e-f1f0-11e5-9212-28a1d46a4b94.png)

[2016-03-25 13:15] plinioseniore commented on #248
Use two different slots, the DHT temp/hum can be read once per time if I
remeber correctly.

Dario.

From Mobile.

[2016-03-25 13:24] mcbittech commented on #248
And you have a wrong configuration of your slot:
#define slot_dhtt 1
#define slot_dhtu 2
must be:
#define slot_dhtt 0
#define slot_dhtu 2

T52 an T53 require 2 slot for each.

You can see here https://github.com/souliss/souliss/wiki/Typicalsslot
occupation for each typicals.

Flavio.

2016-03-24 18:49 GMT+01:00 DD-WRT notifications@github.com:

##

P ********\* Consideriamo l'ambiente prima di sta

[2016-03-25 15:25] DD-WRT commented on #248
Works excellent,
I've changed slots , I did not know to use two slots :)
#define slot_dhtt  1
#define slot_dhtu 3
![temp](https://cloud.githubusercontent.com/assets/16338721/14047138/2fb7bf06-f2a6-11e5-99e7-913c19d44fca.png)

Thanks to Dario and Flavio .

[2016-03-25 15:29] #248 closed, assigned to nobody

[2016-03-31 09:08] bluman74 commented on #149
I'm seeing a similar error on Arduino IDE 1.6.8 when trying to flash the esp8266-01.
I've installed the libraries ESP8266 1.0.0 and Souliss 7.1.1 via the Library Manager.
The library files are located under /home/<user>/Arduino/libraries/souliss.

 Here is the error.

Arduino: 1.6.8 (Linux), Board: "Generic ESP8266 Module, Serial, 80 MHz, 40MHz, DIO, 115200, 512K (64K SPIFFS), ck, Disabled, None"

[2016-03-31 09:14] plinioseniore commented on #149
Actually the 7.1.1 compiles on IDE 1.6.5, you have to downgrade to that IDE
and use the supported release of the ESP cores.

Otherwise you need to download manually the latest branch to compile with
that IDE. Please be aware that ESP core 2 are still not supported in any
release of Souliss.

[2016-04-07 12:25] ghost opened #249 "fix crash on use ESP8266 WEBCONFinterface"
interfaces/mcu_esp8266/webconfig/src/netconfig.h

[code]

P.S. http://www.esp8266.com/viewtopic.php?f=8&t=4685

[2016-04-07 20:17] plinioseniore commented on #249
@setar could you please make a pull request with the modified file?

Thanks.

[2016-04-12 18:09] artur3 opened #252 "Value from Typical T58 (pressure sensor) is not updated"
Value from Typical T58 (pressure sensor) is not updated (constant pressure is shown) in soulissApp and openHaB. Resetting board usually solves the problem for short time.
Value printed to serial port is correct and changes over the time.
Other sensors are working fine.

Code (Arduino Mega + eth shield):
Setup
`// Set the typical to use
  Set_T52(TEMP1);
  Set_T53(HUMIDITY);
  Set_T54(LIGHT);
  Set

[2016-04-12 18:28] artur3 opened #253 "Typical T16 is not reporting data change"
`if (Logic_T11(LIGHT))
  {
...
}`
works when data is changed. Same code for T16 is not working.

[2016-04-17 11:26] plinioseniore commented on #253
That's strange, the T16 is supposed to transfer if a data has changes in case of ON/OFF and not in case of change in bright or color.

[2016-04-17 11:29] plinioseniore commented on #252
Data are transferred with a deadband, so if you are below that deadband nothing is transferred. Actually is 1.5% of last visualized value.
https://github.com/souliss/souliss/blob/friariello/base/SpeakEasy.h#L211

[2016-04-17 12:24] artur3 commented on #252
You're right, 0,015 from thousands is more than usually pressure changes.
Maybe default deadband for pressure should be lowered?

[2016-04-17 12:30] plinioseniore commented on #252
What's the resolution of your sensor compared to the full range? Better that 1.5%?

[2016-04-17 12:34] artur3 commented on #253
Yesterday I found that this work for On/Off. But would be great to have this also for color and bright. So the command for the lamp can be send only when needed.

[2016-04-17 12:39] artur3 commented on #252
For example, serial port shows today 992 but SoulissApp still shows 998 from yesterday. Charts for pressure are flat line for days.  998 \* 0.015 = 14,97

[2016-04-17 12:42] plinioseniore commented on #253
The main problem is that this will create trouble when synchronizing with music. You can any how change your own code to get this adding the i_trigger code for the ifs that you need.

Let me know.

[2016-04-17 12:42] artur3 commented on #252
BMP180
Up to 0.03hPa / 0.25m resolution
-40 to +85°C operational range, +-2°C temperature accuracy

I use Adafruit_BMP085 lib.

[2016-04-17 12:45] plinioseniore commented on #252
Lower your value to 0.0015 and let me know if you network slows down due to an excess of data notified.

[2016-04-17 12:57] artur3 commented on #252
Is the amount of data does not depend on how often I read sensors? Even every few minutes or less should be enough.
Problem is 1.5% from thousands, that's more than usually pressure changes, so far my readings shows about 994 to 1015hPa.

[2016-04-17 13:09] artur3 commented on #253
Ok. I can live with that.
Only the term "data change" is a bit misleading.

[2016-04-17 14:56] plinioseniore commented on #252
Yep, you can slow down you measure read to be sure that it will not send data too much data. Consider that a node works reliably at an average of 1 update/s rate.

This is conservative value and the real one depends on your network structure and nodes.

[2016-04-17 14:56] #253 closed, assigned to plinioseniore

[2016-04-18 20:02] dyezepchik commented on #149
Have the same issue.
Downloading the latest code didn't help.
But in IDE 1.6.5 sketch got compiled.
Thank you!

[2016-04-19 05:24] plinioseniore commented on #149
If you want to use espcore 2 and IDE 1.6.8 don't use Souliss 7.1.1 but
download abd install manually the code from branch 720_rc that is on github.

From Mobile.

[2016-04-19 06:37] dyezepchik commented on #149
I have tried exactly that, downloaded current code from github. But with no success, it haven't compiled in IDE 1.6.8. I'll try once again today =)

[2016-04-19 20:43] plinioseniore commented on #149
You should download the code in 720_rc branch and not the default one.

[2016-04-20 07:02] dyezepchik commented on #149
oh, thanks

[2016-04-28 14:37] yasserhabh opened #259 "small smart home Help Wanted"
Hello every one. i am Yasir student from Iraq . i have small project to make simple smart home system using Arduino and IoT . and i see souliss is very good platform for make it. but my problem i am not good in programming and i dont understand how i put T8,T16 and so on . if any one can help me in my situation. and if any one can discuss to me to understand how i program it
i have
Arduino Mega256

[2016-04-29 11:52] DD-WRT opened #260 "My nodes (rgb led strip)"
Hi all,
I have a question for someone who has built RGB LED strip, if you can send me skech to work as a node for NRF24 ??
I send my homemade node working perfectly...  :)
![my node](https://cloud.githubusercontent.com/assets/16338721/14915195/54d2d2f4-0e11-11e6-864b-a8c79c59b693.jpg)

[2016-05-01 11:44] plinioseniore commented on #260
You got your node in the network, just add the relevant typical. In the
tutorial there is a sketch for the H801 that can be a starting point.

[2016-05-01 14:40] DD-WRT commented on #260
I'm sorry, if he can help me a bit more me exactly what you mean H801, I looked T16 al is to think that working as a special module with in 5100 is not what we should be me.
Thank you

[2016-05-01 20:08] felicevitiello opened #261 "Pushetta con MEGA"
Pushetta su Arduino MEGA con la seguente configurazione si avvia:
# include "bconf/StandardArduino.h"          // Use a standard Arduino
# include "conf/ethW5100.h"                  // Ethernet through Wiznet W5100
# include "conf/Gateway.h"                   // The main node is the Gateway, we have just one node
# include "conf/Webhook.h"                   // Enable DHCP and DNS

.....

uint8_t i

[2016-05-02 20:43] dariocdj opened #262 "Souliss sleeping.h merge"
Please merge modded sleeping.h from nrf low power post, thanks

[2016-05-02 21:37] tonypedi commented on #261
https://www.arduino.cc/en/Reference/EthernetBegin

hai omesso il mac address come primo parametro della ethernet begin

inoltre il parametro DNS, per fargli considerare il default, devi cmq inserire la virgola ( ipotizzo) , altrimenti lui considererà DNS ciò che tu chiami gateway ... sempre dopo che avrai messo anche il MAC all'inizio

adesso lui considera "ip" come se fosse il mac address, "gatew

[2016-05-03 10:01] tonypedi commented on #261
1) forse in souliss è stata 'inglobata' una ethernet.begin che supporta SOLO la chiamata senza parametri e bisogna usare necessariamente la chiamata "IPAddress" per fornire gli altri parametri (noi in souliss usiamo la WEBHOOK e non le ethernet.h , ethernetudp.h)

2) cmq è ipotizzabile che anche facendo riferimento a https://www.arduino.cc/en/Reference/EthernetBegin negli sketch che fanno uso di e

[2016-05-03 10:40] felicevitiello commented on #261
Appena ho tempo ci guardo meglio, potrebbe essere anche correlato ai
problemi che ho con adafruit.io, in effetti non avevo verificato la
corretta sintassi dell'istruzione... Sono abbastanza cialtrone a volte :-)

Il martedì 3 maggio 2016, tonypedi notifications@github.com ha scritto:

[2016-05-13 17:44] soyxan commented on #149
I am facing the same problem and I tried the following steps with no luck:

- Uninstalled IDE 1.6.9
- Installed IDE 1.6.8
- Installed Souliss 7.1.1 from the Library Manager
- Installed the ESP8266 board

And I get the same error while trying to compile the example:

[code]

[2016-05-14 14:02] Melkor82 opened #265 "LowDigInToState"
Ho aggiunto la riga
 `#define   LowDigIn2State(pin,value_state_on,value_state_off,slot) Souliss_LowDigIn2State(pin, value_state_on, value_state_off, memory_map, slot)`
Nel file SpeakEasy.h Nel file base era previsto ma senza questa riga il codice non funzionava.

[2016-05-14 16:14] plinioseniore commented on #265
La lingua ufficiale qui è l'inglese, in ogni caso ho fatto merge della tua pull request.

[2016-05-14 16:14] #265 closed, assigned to nobody

[2016-05-14 16:14] plinioseniore commented on #262
In 720_rc

[2016-05-14 16:14] #262 closed, assigned to nobody

[2016-05-29 10:09] DD-WRT opened #267 "ESP 8266 Network"
I made an excellent network souliss with nRF modules that works great, now the question is that I want to do network with ESP 8266, is we need a gateway or they can ride all the nodes via wifi router ??
Thanks

[2016-05-29 10:57] plinioseniore commented on #267
You can mix network as you like, so you can add as many ESP8266 as you want within the maximum limit of nodes.

Actually the only constrain is that you cannot build a node with ESP8266+nRF, you always need an AVR for that.

Are you running the latest 7.2_rc? It include some improvements for nRF nodes.

[2016-05-29 11:42] DD-WRT commented on #267
I use the new 7.2 version, one more question, if I do more nodes with the ESP and all have a different IP address that I can manage everything at once via soulis app when there can enter only one IP.

[2016-06-05 17:21] wes1007 opened #269 "T19 example code?"
I have looked everywhere for an example of how to set up T19/dimmable single color led strip and cannot find it anywhere.

I've looked at both T11 example code and T16 example code and cannot seem to figure it out.
Below is what I have tried

Can someone guide me with this?

[code]

[2016-08-06 11:02] DD-WRT opened #271 "Dynamic IP adress problem"
This is my internet operator announced soon that my public address will be replaced with dynamic (meaning to change)
Now the question is can I use the app souliss on dynamic IP addresses and how to adjust it.

Thank you

[2016-08-07 09:35] plinioseniore commented on #271
You have to use a DDNS like no-ip.org or others, this will give you an hostname like yourhostname.no-ip.org that you should use instead of the public IP address in SoulissApp.

[2016-08-07 09:35] #271 closed, assigned to nobody

[2016-08-13 02:48] kstubb opened #272 "SoulissApp not connecting - unable to ping"
Hi Dario;

I have been trying to test a few nodes with your sample code and have e01_GarageDoor_n1.ino running on an Uno R3 with W5200 Ethernet Shield.  I can successfully ping the gateway at 192.168.70.187, to which I have it set, from any machine on my LAN, including both the tablets I have SoulissApp installed on, but the SoulissApp itself fails the ping test and will not connect to the gateway

[2016-08-13 04:10] kstubb commented on #272
One tablet is a Samsung Galaxy Tab 10.1 original and is running Android 4.0.4 with SoulissApp 1.8.3.

The other is a Samsung Galaxy Tab 4 10.1 and is running Android 5.0.2 with SoulissApp 1.8.3.

Also confirmed that both nodes are communicating with each other via RS485.

I'll try adding some bindings to openhab tomorrow to see if that is connecting.

[2016-08-13 06:03] plinioseniore commented on #272
Hi Kyle,

any device with SoulissApp is a node itself, so you should not use the same
address 187 for the Gateway and the tablet.

Anyhow, SoulissApp should detect automatically the Gateway on the network
and show the IP address into the Network configuration panel. Does it?

Dario.

From Mobile.

[2016-08-13 12:24] kstubb commented on #272
The IP address of the gateway node is 192.168.70.187.

The IP address of the first tab is 192.168.70.80.
The IP address of the second tab is 192.168.70.156.

Both of the tablets can ping the gateway node (192.168.70.187) with Network Tools for Android. Both tablets show the IP and MAC address of the gateway node as being a device on the network (again, in Network Tools).

If I start SoulissApp and

[2016-08-14 09:24] plinioseniore commented on #272
Looks like that the network support of your tablet doesn't get a proper support in SoulissApp, as it should detect automatically the IP address and have the 230 port set as default. If is empty, please insert manually 230.

Then in the same configuration panel you should have also Node Index and User Index parameters, those are supposed to be generated automatically based on the MAC address of you

[2016-08-14 14:49] kstubb commented on #272
Hi Dario;

I have tried all the things you suggested and have filled in all the settings manually, but am unable to connect with SoulissApp.

Last night I also setup some bindings in OpenHAB yesterday and could not get the gateway to give me any heath readings or any indication that it is connecting, other than the link light flashing on the Ethernet shield.

So, this morning, I decided I'd go rig

[2016-08-14 15:01] plinioseniore commented on #272
Hi Kyle,

do not, your are in the wrong direction. If you are able to perform an IP PING that means that your skech is initializing the W5200 properly with a working network configuration. By the way, is the W5200 that handle the IP stack as well as the PING, so if you are pinging this means that you are just communicating with the W5200 as this doesn't involve the MCU as well as your sketch (out

[2016-08-15 13:57] kstubb commented on #272
Hi Dario;

Thank you for the suggestion of data sniffing.  I put my laptop between the gateway node and my network and watched things with Wireshark.

Unfortunately, I only see traffic going to the gateway and nothing coming back from it for requests to UDP 230.

Well, in most of the logged lines to the gateway, the gateway is the destination device.  I see UDP requests coming from 192.168.70.14,

[2016-08-15 19:06] plinioseniore commented on #272
Go for [vNet and MaCaco debug](https://github.com/souliss/souliss/wiki/TroubleShootSouliss) via serial port, then attach your sketches with the logs from Wireshark and serial.

[2016-08-17 05:01] kstubb commented on #272
Hi Dario;

Sorry, I haven't had much time to do any testing... but I will!

So far the only output I have been able to capture from the vNet and MaCaco debug are upon initial power up and are as follows;

I don't know a lot about these debug lines, but it does appear that neither the MAC or IP are set in software and data seems to be missing (before the first pipe on each line).

The sketch is the

[2016-08-17 16:08] plinioseniore commented on #272
Paste your sketch. You are not initializing the IP stack.

Dario.

[2016-08-17 22:35] kstubb commented on #272
Sorry, I tried blockquote, code and everything else I could think of to get this to format correctly, nor could I find a way to turn markdown off.

This is the standard e02_GarageDoor_n1.ino example with the IP changed and Serial.begin(9600); added for debug.  Oh, and W5200 for ethernet.

This is on Adrduino IDE 1.6.7 on Ubuntu.

/*******************************************************************

[2016-08-17 22:46] kstubb commented on #272
This is the e01_HelloWorld.ino sketch that I tried on Arduino IDE 1.6.5-r5 on Windows 7.

/**************************************************************************
    Souliss - Hello World

[code]

***************************************************************************/

// Configure the framework
#include "bconf/StandardArduino.h"          // Use a standard Arduino
#include "conf/ethW5200.

[2016-08-18 06:39] plinioseniore commented on #272
Which shield are you using?

[2016-08-18 11:59] kstubb commented on #272
W5200 --> https://www.creatroninc.com/product/w5200-ethernet-shield/

[2016-08-18 15:12] plinioseniore commented on #272
Quite strange, looking at the W5200 shield and the relevant libraries and example looks that CS is pin 10 as we use in Souliss (and as is used in most of the Ethernet Shield for Arduino).

Your problem is on the communication between the AVR MCU and the W5200, likely the AVR is able to send data but not to receive data, I assume this because if you can PING this means that the AVR has set the IP a

[2016-08-18 15:50] kstubb commented on #272
Hi Dario;

Yes, I am able to get it to work with the Seeed Studio W5200 Ethernet
library -> https://github.com/Seeed-Studio/Ethernet_Shield_W5200

I have tried a few of the examples from that library and am able to get
results back from a Google search the example uses.

I'm on the road right now and don't remember which ones, but I don't recall
having any issues with any that I tried.

Kyle
On Au

[2016-08-19 02:00] kstubb commented on #272
It's responding!

After you asking if it worked with the demo code, it got me to thinking.... yes, it does work... so what's different?

I added the same to the setup() of the e02_GarageDoor_n1.ino sketch and it started to work!
I never even thought about the SD card as I didn't really care about using it.

What it's still not doing is connecting to the SoulissApp.  :-(

The data you see is coming

[2016-08-19 02:55] kstubb commented on #272
It seems that simply adding

to a sketch where you manually assign a static IP is enough.

However, a DHCP sketch (e01_HelloWorld.ino) will not acquire an IP without the pin set high.

e01_HelloWorld.ino now gets an IP, but still doesn't connect with SoulissApp.

[2016-08-19 05:30] plinioseniore commented on #272
Have you the SD card inserted?

Anyhow, could you please post the log with SoulissApp only?

[2016-08-19 12:57] kstubb commented on #272
I did have the SD card inserted last night as the demo code for this shield required it.  I just forgot about it and left it in.  This morning I removed it and tried some more.

Here is the current debug log.  The IP has been changed as it's getting it via DHCP (192.168.70.134), so I only have that IP in the SoulissApp (not openHAB), so the logs should only be from SoulissApp.

One further note, I

[2016-08-19 13:02] kstubb commented on #272
I just did another test and am attaching the file, in case you cannot read the one above (markdown is removing information).

This one, I started SoulissApp, created a new profile with the IP of 192.168.70.134.  Then I modified the profile with UDP port 230, User Index 14, Node Index 80.  "Synch" now shows red, where it used to show yellow and go red when "offline".

This is the log from that tran

[2016-08-20 00:36] tjsavioli opened #273 "Impossible to display temperature and humidity on soulissapp"
Hi,
my name is Valerio i'm doing my first steps with souliss.
I have an arduino uno board with ethernet shield, two pushbuttons, two leds and an DHT22 connected on pin2. I can manage the tw leds with buttons and phone but i can't see temperature and humidity.
This is the code can someone helpme please? Thanks

[souliss_test2.zip](https://github.com/souliss/souliss/files/428064/souliss_test2.zip)

[2016-08-20 03:30] lucasmaziero opened #274 "Esp8266 peer changing status button app random"
Hello,
I'm using a ESP8266 with gateway , but when I put another peer ESP8266 it is changing the status button app, when is clicked it works well, this error only occurs in the peer node, the gateway it works ok, someone knows what can be??

I am using the example "souliss \ examples \ WiFi \ e01_Hello_ESP8266" and "souliss \ examples \ WiFi \ e01_Peer_ESP8266"

sorry my English :)

[2016-08-20 07:37] ribico commented on #273
Hello Valerio,
I am from mobile and I cannot read your code.
Are you able to read the DHT22 from any other example code ? This will
ensure it is properly wired and working as expected regardless souliss.

Il sab 20 ago 2016 02:37 tjsavioli notifications@github.com ha scritto:

[2016-08-20 08:48] tjsavioli commented on #273
Thank you for answer.I tried different example but nothing. From serial monitor i can see something, nan temperature and strange floating values of humidity. But from my phone i can't see the typicals t52 and t53. I have two sensors, this night when childrends sleep, i wiil try with other sensor. ByeInviato dal mio dispositivo Huawei-------- Messaggio originale --------Oggetto: Re: [souliss/soulis

[2016-08-20 15:09] plinioseniore commented on #272
The 0x08 is the ping request and 0x18 is the answer, we know that your node
receive and process the data but likely data reply doesn't go on the net.

A Wireshark capture will help now. Generally is not that trivial to get
Souliss running, don't give up.

Dario.

From Mobile.

[2016-08-20 15:09] plinioseniore commented on #274
Likely you need a pull-down on your inputs, as you are getting EMI on the
input pin.

Dario.

From Mobile.

[2016-08-20 15:34] kstubb commented on #272
No worries, I won't give up!

The first part was entirely my fault by not initializing the SD card.

I'm on the road a bit today but will work on it this evening.

Regards;
Kyle

(removed quoted email info)

[2016-08-20 19:06] lucasmaziero commented on #274
Hello,
This is my code of ESP gateway, all ok.

[code]

This is my code of ESP peer 01, app, each update of android application, is changing on / off, but when you click works well, made many alteration of the code, but not solved the problem.

[code]

I expect a light.. thank you.

[2016-08-20 23:49] tjsavioli commented on #273
Thanks Ribico
i tried your dht tester and now i'm sure the sensor works.
I modified the  code according to your test and now i can read from serial corret values from dht22.
The problem remain on soulissapp, i can't see the typicals. Tried to delete nodes and devices but when i ask a new configuration nothing appens. I have comunication with the gateway but soulissapp tell me "DB empty"  ribuilt m

[2016-08-20 23:55] tjsavioli commented on #273
Sorry forgot the code:

// Configure the framework
#include "bconf/StandardArduino.h"          // Use a standard Arduino
#include "conf/ethW5100.h"                  // Ethernet through Wiznet W5100
#include "conf/Gateway.h"                   // The main node is the Gateway, we have just one node
#include "conf/Webhook.h"                   // Enable DHCP and DNS

// Include framework code and libra

[2016-08-21 00:00] kstubb commented on #272
HI Dario;

Tonight I hook everything up to capture some Wireshark logs.  I have my eth and wlan ports bridged on my laptop, so the gateway was pulling the laptops IP from the DHCP server (router) when using the HelloWorld sketch.

So, I load up another of the examples I've been using (e02_GarageDoor_n1.ino) that use static IP assignment and use the IP of 192.168.70.187 that I've been using in that

[2016-08-21 06:49] ribico commented on #273
Yes.. Try rebuild.

Il dom 21 ago 2016 02:09 tjsavioli notifications@github.com ha scritto:

[2016-08-21 11:38] tjsavioli commented on #273
Impossible to rebuilt, nothig happensTest UDP ok i can manage the two leds on bard.Trided to change index user andindex node without result.Bye

[code]

 A: souliss/souliss souliss@noreply.github.com
Cc: tjsavioli tjsavioli@yahoo.it; Author author@noreply.github.com
 Inviato: Domenica 21 Agosto 2016 8:49
 Oggetto: Re: [souliss/souliss] Impossible to display temperature and humidity on soulissapp (

[2016-08-21 12:48] plinioseniore commented on #274
Use LowDigOut instead of the ! in the parameter.

Dario.

From Mobile.
On 20 Aug 2016 21:06, "Lucas Maziero" notifications@github.com wrote:

[2016-08-21 22:23] tjsavioli commented on #273
Solved the problem ....
I enabled the DHCP in the sketch then I deleted the static addressin the  app .
At this point I requested the definition of the devices in the UDP test, then in options , I deleted the devices and recreated the node configuration .
In this way the 4 typicals have appeared correctly .
At the end I put the static IP address in the sketch , and then in the app.
Now everything

[2016-08-22 03:29] lucasmaziero commented on #274
The problem still persists..

[2016-08-22 05:16] plinioseniore commented on #274
What's the problem in detail?

From Mobile.

[2016-08-22 06:24] ribico commented on #273
Absolutely not.
You can normally set static IP without your nice procedure.
I have about 12 DHT22 comnected to my home souliss network since 2 years..

All boards use static IP address.

BR

Il lun 22 ago 2016 00:24 tjsavioli notifications@github.com ha scritto:

[2016-08-22 14:14] kstubb commented on #272
Hi Dario;

Well, I'm back to frustrated.

I didn't get any time yesterday to work on it, so I sit down this morning and nothing works.  I jsut can't understand it.

So, I start digging around again and find that when I use the e01_HelloWorld.ino sketch, which uses DHCP to assign an IP, I get the IP address of the laptop (192.169.70.97) if I am on the eth bridged port (I don't understand this eithe

[2016-08-22 20:26] plinioseniore commented on #272
Hi Kyle,

I cannot see any problem, you are just getting a different IP address while in DHCP, so changing the IP address in SoulissApp should let you start the connection with the Souliss Gateway node on the .134 address.

The reason you see two MAC addresses is just due to the persistence of previous entries in your router MAC table, but it will disappear after few time. Have a read [here](https

[2016-08-23 02:54] kstubb commented on #272
HI Dario;

I understand what you are saying, but that is the issue... I cannot connect with SoulissApp to .134 (DHCP).

What I did notice in the pictures above is what you are saying about the two IPs makes sense, but have a closer look.... the first image shows 2 MAC addresses with .134.  You'll notice that the top one is assigned to the bridge (br0) and has a MAC of :88 which was assigned by Sou

[2016-08-23 08:06] plinioseniore commented on #272
Just ping it with -t option, if your PC doesn't get reply it will ask again the MAC address using the ARP protocol. So on wireshark (even if you are not on bridge) you will see "Who has 192.168..." request, of course you will not see the reply if you are not bridging.

If is just a mismatch on the MAC address while using DHCP, you can easily fix it with a manual assignment as reported in the wiki

[2016-08-23 12:32] kstubb commented on #272
I did set the MAC address last night to 1A:A6:49:6B:00:02 and it does not fix the issue.

I went to be last night and left everything running... openHAB and SoulissApp both connected.  I get up this morning and only openHAB is still connected.

The only thing I can do to get SoulissApp is to reboot the router.  I don't really get it.  My tablet can still PING (ICMP) the gateway, as can the rest of

[2016-08-23 12:35] plinioseniore commented on #272
Are your MAC addresses unique?

From Mobile.

[2016-08-23 12:45] kstubb commented on #272
I just had a look through my device list and they are all unique.

The only local MAC (1A:) is the arduino gateway.

[2016-08-23 12:46] plinioseniore commented on #272
I mean, your Arduinos has different MAC. Is it?

From Mobile.

[2016-08-23 12:48] kstubb commented on #272
I'm actually only running 1 Arduino at this time.  I'm trying to keep things very basic until I can get stable operation on the gateway.

[2016-09-03 06:33] jkutianski opened #277 "Control TVs & AV equipment"
I've a LG TV with RS232 control port, and I found some nice projects to implement IR RC & HDMI-CEC on Arduino. Maybe will be interesting add some support for TVs & AV equipment.

![48df264262f19326e9d82e96c33e4a4e_13 1](https://cloud.githubusercontent.com/assets/1901108/18223036/e4ec63e6-7180-11e6-961d-48ea455a27ea.jpg)

[LG TV RS232 control manual](https://www.lg.com/us/commercial/documents/m3701

[2016-09-03 08:38] plinioseniore commented on #277
Hi Juan, welcome and thanks for your contributions.

Generally there are more people discussing on the ML, so it would be better
to post there the solution that you have applied in your home, so that you
will have a better audience.

Dario.

From Mobile.

[2016-09-03 09:05] jkutianski commented on #277
Thanks Dario.

Good point. Normally I like to see the discussions of enhancements on GH because can be tracked easily, and to me the discussion is useful to understand the changes behind the code.
I will put this on Souliss Google Group to see if someone are interested on this.
Can I leave this issue open?
Best.

Juan Pablo

[2016-09-04 07:10] plinioseniore commented on #277
Sure.

From Mobile.

[2016-09-06 12:27] jkutianski commented on #269
[code]

[2016-09-06 21:27] jkutianski commented on #269
[code]

[2016-09-10 11:00] plinioseniore commented on #269
Hi @jkutianski if this is not included in the default set of examples, please add it with a pull request.

Thanks.

[2016-09-10 11:00] #269 closed, assigned to nobody

[2016-09-10 20:10] jkutianski commented on #259
Yasser.
All the T are called Typicals. You can found some help about typicals [here](https://github.com/souliss/souliss/wiki/Typicals)
T8 doesn't exist and T16 is RGB LED Strip.

For relay board you've to use Typical 11 : ON/OFF Digital Output with Timer Option, Typical 12 : ON/OFF Digital Output with AUTO mode or Typical 18 : ON/OFF Digital Output (Step Relay).

If you want to use Auto ON/OFF wit

[2016-09-17 16:13] bzuidgeest opened #282 "string conversion errors in networksetup.cpp"
I just bought some lyt8266 bulb and I am trying to get souliss on them. so far it has not been exactly easy. Mostly troubles from finding a combination of libraries that is compatible. I have settled on:
arduino ide 1.6.11
board package for esp8266 2.30
Latest library from souliss github download

This combo lets me build the bulb erase sample. However it does not let me build the e02_lyt8266_wifi

[2016-09-18 22:46] juanpintom commented on #282
Try with 1.6.8 IDE and 2.2.0 Core :P

Read at bottom here:
https://github.com/souliss/souliss/wiki/Supported%20Hardware

Thanks

2016-09-17 18:13 GMT+02:00 bzuidgeest notifications@github.com:

[2016-09-19 13:42] bzuidgeest commented on #282
Sorry, but I'm not interested in trying the old versions of the ide and esp core packages. I'm sure the version combination you suggest works fine. But I use the latest versions in my projects, your ide choice is three versions out of date and thus lacks the many fixes made in the newer versions.

My primary reason for opening this issue is notifying you of the problem. My suggested changes works

[2016-09-23 10:59] ChezanV opened #283 "Widget and WiFi"
Whidgets working fine on 3g, but when i conected on same router with gateway it stops working.
The android app working in both situations. Is a bug or i make a mistake somewhere?

[2016-09-24 16:15] zoomx commented on #225
Got the same error, e01_HelloWorld example for Arduino UNO and IDE 1.6.11 (core 1.6.13), library installed with library manager. The same with IDE 1.6.9 (core 1.6.11). Library version is 7.1.1
Reading here
https://github.com/arduino/Arduino/issues/4407
putting #include "Souliss.h" as first you get some others error (multiple definitions)
but creating an empty SoulissBase.h in Souliss library folde

[2016-09-25 11:03] plinioseniore commented on #225
In the wiki there are the supported IDEs and cores.

[2016-09-25 13:40] zoomx commented on #225
Wiki says >=1.6.5 for IDE and cores
[https://github.com/souliss/souliss/wiki/Supported%20Hardware#supported-cores](url)

[2016-09-27 17:17] plinioseniore commented on #282
@bzuidgeest that fix is included in Souliss 7.2.0 that is available in 720_rc branch, that code is not yet released and so is not available in the Board Manager.

[2016-09-27 17:17] #282 closed, assigned to nobody

[2016-09-27 17:24] plinioseniore commented on #225
@zoomx I've updated the wiki, you need to use 720_rc branch in order to compile with IDE >=1.6.7 where is included a dedicated header file as you stated before.

[2016-09-27 17:25] #274 closed, assigned to nobody

[2016-09-28 11:31] #267 closed, assigned to nobody

[2016-09-28 11:32] #261 closed, assigned to nobody

[2016-09-28 11:34] plinioseniore commented on #249
@jkutianski could you please have a check and pull the modified files into 720_rc?

Thanks,
Dario.

[2016-09-28 19:20] jkutianski commented on #249
Dario.

I'm working on it
Best.

Juan Pablo

[2016-09-29 02:51] jkutianski commented on #249
@setar could you please test it?

[2016-09-29 03:15] jkutianski commented on #283
I've to press the widget several times to change the state.

[2016-09-29 15:08] fastriker commented on #149
I got the "bconf/MCU_ESP8266.h: No such file or directory" message too. By switching to the 720_rc branch there was no effect. My brother gave me the hint to crate a empty header file in the souliss directory and import it on top of the sketch. With this work around everything works fine.

[2016-09-29 18:10] plinioseniore commented on #149
The examples in 720_rc have an #include "SoulissFramework.h" that does the trick, if you move to 720_rc but you still use the examples from the previous release, you will not get a compiled code.

[2016-09-29 18:13] jkutianski commented on #149
@fastriker @plinioseniore
Is better if you `#include <SoulissFramework.h>` instead of `#include "SoulissFramework.h"`

[2016-10-01 00:34] jkutianski commented on #283
Moved to SoulissApp

[2016-10-01 00:34] #283 closed, assigned to nobody

[2016-10-01 00:36] jkutianski commented on #249
I will close the issue. If the problem persist, please reopen it.

[2016-10-01 00:36] #249 closed, assigned to jkutianski

[2016-10-01 00:43] jkutianski commented on #240
This is a [SoulissApp](https://github.com/souliss/soulissapp) issue.

[2016-10-01 00:43] #240 closed, assigned to nobody

[2016-11-15 05:26] #229 closed, assigned to plinioseniore

[2016-12-11 09:59] ID-Electronic commented on #260
Hello everyone,
 I want to do RGB light or do not know how to connect my node to gateway, I have built over NRf24 nodes that work ON-OFF, temperature, I do not know how to write skech(T15,T16) for RGB light, I saw In the stand-alone module who works on the network, but I have a gateway. I want him to connect to Wi-fi node and work as whole RGB light.
I looked e03_RGBStrip.ino but how to set to wor

[2016-12-11 10:04] ID-Electronic opened #289 "RGB LED Strip"
Hello everyone,
I want to do RGB light or do not know how to connect my node to gateway, I have built over NRf24 nodes that work ON-OFF, temperature, I do not know how to write skech(T15,T16) for RGB light, I saw In the stand-alone module who works on the network, but I have a gateway. I want him to connect to Wi-fi node and work as whole RGB light.
I looked e03_RGBStrip.ino but how to set to work

[2016-12-25 13:32] #289 closed, assigned to nobody

[2017-03-07 23:39] #259 closed, assigned to nobody

[2017-04-14 07:34] manuservel opened #291 "Output status T22"
Hello,
Using the T22 I get output status 16(hex) for open.
In https://github.com/souliss/souliss/wiki/Typical_T2n says:
Output status:
    1(hex) for CLOSING,
    2(hex) for OPENING,
    3(hex) for STOP.
    8(hex) for CLOSE
    10(hex for OPEN
Why do I get 16 and not 10 for OPEN?
Thank you.

[2017-04-14 12:52] plinioseniore commented on #291
This looks the reason for that https://github.com/souliss/souliss/blob/friariello/Typicals.h#L164, there is no much sense in 0x16 and should be changed as 0x10.

[2017-04-14 12:52] plinioseniore commented on #291
@FulvioSpelta any comment on this?

[2017-04-14 12:55] plinioseniore commented on #291
@shineangelic witch value is used in SoulissApp for OpenLimitSwitch state?

[2017-04-14 21:09] manuservel commented on #291
Hello,
I do not use limit switch. All other states match their hexadecimal value.

[2017-04-15 18:09] FulvioSpelta commented on #291
Hi the line for the state values is:
[https://github.com/souliss/souliss/blob/friariello/Typicals.h#L171]that is 0x10

I'll do a review of the code to check the different use of the constant

[2017-04-15 19:12] plinioseniore commented on #291
0x16 is LimitSwitchOpen so when a limit switch is reached this state is
activated.

My previous post was wrong as 0x10 is used for Open state (without limit
switch).

As you are not using limit switches, you should never reach 0x16.

Dario.

From Mobile.
On 15 Apr 2017 20:09, "FulvioSpelta" <notifications@github.com> wrote:

[2017-04-15 23:11] FulvioSpelta commented on #291
Hi all
the constants `Souliss_T2n_LimSwitch_Close` and `Souliss_T2n_LimSwitch_Open` are used as "input only" and shouldn't never go to the output.

I've found an error in line 126 that currently is:
`memory_map[MaCaco_OUT_s + slot] = Souliss_T2n_LimSwitch_Open;			// Open Limit Switch`
it should be:
`memory_map[MaCaco_OUT_s + slot] = Souliss_T2n_State_Open;			// Open Limit Switch`
but its position

[2017-04-16 07:10] plinioseniore commented on #291
That make sense, but I guess that also SoulissApp use LimitSwitch as both
input and output value.

From Mobile.

[2017-04-16 09:08] FulvioSpelta commented on #291
Hi Dario
a full review is needed (eg: in T21 comments the constants are wrong) and we have to review:
- All T2x code and comments (I've already get a look and it should be ok excluding the comments of the T21)
- SoulissApp assumption
- Openhab binding assumption (translation table)

I'll do it in the next days, in the meanwhile I'd like to have a feedback on testing because I'm in trouble to test

[2017-05-08 22:18] shineangelic commented on #291
If the typicals' comments are wrong FOR SURE there are problem in the app as well

[2017-08-08 08:04] lucarui opened #298 "T32 Trigger"
It seems that the code on T32 typical has to be changed in order to check even the slot + 1 memory; otherwise, if the new signal request is different on the last 2 byte only, souliss isn't able to understand that new signal is different from the previous.

If you want, I can modify it. Assign me the issue.

[2017-08-14 13:06] #298 closed, assigned to nobody

[2017-08-16 17:58] #230 closed, assigned to plinioseniore

[2017-08-16 18:07] #214 closed, assigned to plinioseniore

[2017-08-16 18:09] plinioseniore commented on #205
Deprecated

[2017-08-16 18:09] #205 closed, assigned to plinioseniore

[2017-08-16 18:09] plinioseniore commented on #219
Deprecated

[2017-08-16 18:09] #219 closed, assigned to plinioseniore

[2017-08-16 18:10] #272 closed, assigned to plinioseniore

[2017-08-16 18:10] #273 closed, assigned to nobody

[2017-08-16 18:11] #260 closed, assigned to nobody

[2017-08-16 18:12] #252 closed, assigned to nobody

[2017-08-16 18:12] #246 closed, assigned to plinioseniore

[2017-08-16 18:12] #277 closed, assigned to nobody

[2017-08-16 18:13] #239 closed, assigned to nobody

[2017-08-16 18:18] plinioseniore commented on #232
Done

[2017-08-16 18:18] #232 closed, assigned to nobody

[2017-08-17 22:00] plinioseniore commented on #193
Deprecated.

[2017-08-17 22:00] #193 closed, assigned to plinioseniore

[2017-09-19 07:16] dariocdj opened #305 "Fix T19 spectrum analyzer"
No more spectrum analyzer in T19 music sync

[2017-09-19 07:18] dariocdj opened #306 "T16 music sync in background"
If you run music sync in t16 and try to enter in another node or in another slot of same node, music sync stop. It can be nice to leave music sync running, where you exit

[2017-09-19 07:19] dariocdj opened #307 "T16 and T19 music sync line in"
It can be marvellous to have as music source "line in", because mic isn't reliable

[2017-10-17 20:39] alvarolobato opened #309 "In some situations a node will retry the join process before the gateway has time to respond"
With some configurations and number of nodes, a new joining node may be too aggressive trying to join and will aggressively retry to join, causing the join process never end because the gateway will try to refresh all the nodes before adding the new one.

Adding some more time to the retry process will do in most of the cases, but the process seems to be fragile and may require a redesign.

This i

[2017-10-19 04:00] fgespino opened #310 "Arduino Mega2560 + ENC28J60 + 3 devices"
I'm using a Mega 2560 connected by ETH board and testing with LEDs. The system works with 2 devices, but when add 1 more device the Souliss APP is Disconnected. This is the code:

// Let the IDE point to the Souliss framework
// Configure the framework
#include "SoulissFramework.h"

#include "bconf/StandardArduino.h"          // Use a standard Arduino
#include "conf/ethENC28J60.h"               //

[2017-10-30 12:31] pistoletov1974 opened #311 "arduino pro mini + DHT22 + ENC28J60"
Hi!
I just try example to read temp from dht22on arduino pro mini + enc28j60. But i get nan values from sensor (on pin 2). When i read this sensor without souliss the reading is correct on this board with this sensor. May be some conflicts with enc28j60 and dht 22
Program size: 18 664 bytes (used 61% of a 30 720 byte maximum) (3,19 secs)
Minimum Memory Usage: 1293 bytes (63% of a 2048 byte maximum

[2017-12-16 14:18] dariocdj opened #313 "Webconfig doesn't work in ESP32 Branch"
As title describe...

[2018-02-09 01:35] kubark42 commented on #207
This does seem to be the killer application for this stuff. I'd like to have a home automation work on a MDU (multiple dwelling unit) and so mesh is critical to making it work since we don't have an in-building network.

[2018-02-15 11:20] lucacalcaterra opened #318 "compile error: 'CMDBUFF_HEADER' was not declared in this scope adding XML or HTTP interface in sketch"
Hi,

adding xml or http interface to my sketch, the compiler present the following error:

/BUFFERtools.c:6:24: error: 'CMDBUFF_HEADER' was not declared in this scope
Investigating , seems the CMDBUFF_HEADER is not declared anywhere on BUFFERtools.c

Can you confirm me this ?

Thanks,

Luca

[2018-07-16 22:19] shineangelic commented on #307
AFAIK this is impossible, since Android API doesn't provide a line-in media record nor the average phone has a stereo line in...Some sort of plug-in/dongle is needed. For a better explanation see https://stackoverflow.com/questions/12192295/android-get-audio-signal-from-the-audio-line-in-instead-of-phone-microphone

[2018-07-16 22:19] #307 closed, assigned to nobody

[2019-05-26 22:16] lulol commented on #205
The documentation and <a href="https://github.com/souliss/souliss/wiki/XML-Interface">wiki</a> doesn't mention anything about being deprecated.

What is the alternative to xml then? <a href="https://github.com/souliss/souliss/issues/318">#318</a>

Any hope to get back this functionality on the now ubiquitous ESP8266/ESP32?

[2019-05-27 04:04] plinioseniore commented on #205
The ESP is powerful enough to have Souliss running with other code at same
time, you can use any MQTT or HTTP library and build your set of commands
to interact with Souliss.

[2020-01-06 09:01] #318 closed, assigned to nobody

[2020-01-06 09:02] #311 closed, assigned to nobody

[2020-01-06 09:03] #310 closed, assigned to nobody

[2020-01-06 09:06] plinioseniore commented on #309
Hi @alvarolobato this is from long time ago, I saw in the code that retries has been increased from 100 to 1000, what's the value you are using?

[2020-01-06 09:19] plinioseniore commented on #313
Seems that ESP8266 is still the most used.

[2020-01-06 09:19] #313 closed, assigned to nobody

[2020-01-06 09:24] plinioseniore commented on #291
@manuservel know that this is from long time ago, but had you the opportunity to test the solution proposed by @FulvioSpelta ?

[2020-01-06 09:48] plinioseniore commented on #226
Wiki seems fine

[2020-01-06 09:48] #226 closed, assigned to plinioseniore

[2020-01-07 10:58] lucacalcaterra opened #322 "A very useful feature... MQTT"
It would be very useful (almost necessary, for open souliss to other domotic controller than openhab) to implement MQTT protocol on gateway that map all typicals on node end expose them to interact with an MQTT server.

In your opinion, would it be possible to do so without writing the code on each node, but on the gateway, mapping all the typical on the network, such as an automatic way ?

Thanks

[2020-01-08 12:46] alvarolobato commented on #309
Hi, I switched to static addressing now, so this is not a problem for me anymore.

[2021-09-09 12:16] paolonapoli opened #324 "AutoLight is switching off sending a ToggleCmd on another SimpleLight via Android App"
Hi all,
i have this simple sketch for Arduino UnoR3/W5100:
[code]

I solved all the problems related to first setup and I'm able to control this single Arduino from my Android APP.
The strange thing is that, in this case, when the PIR on pin 5 is triggering the blue light for 10 cycles, and i switch on/off the red light from the Android app the blue light immediately switches off.

To make it clea

[2022-03-27 09:06] sdurnev opened #325 "Add DigInHold2 and LowDigInHold2"
Hey!
I suggest adding the following features.

### DigInHold2

Similar to DigInHold, but controls two different slots.

Single press ->  value_state1 -> slot1

Long press ->  value_state2 -> slot2

[code]

All details here -> https://github.com/sdurnev/souliss_svdu/commit/f0b07fbd6dac884653bc949a78c0b63c04174e7e

[2022-03-27 10:27] plinioseniore commented on #325
Hi, can you please submit a pull request?

[2022-03-27 11:53] sdurnev commented on #325
Can't create a new pull request: Push failed: remote: Permission to souliss/souliss.git denied to sdurnev. unable to access 'https://github.com/souliss/souliss.git/': The requested URL returned error: 403

Maybe I'm doing something wrong?

[2022-03-27 13:36] sdurnev commented on #325
Thanks!

[2022-03-27 14:44] plinioseniore commented on #325
I see you make two direct commits, one adding your code and one deleting

https://github.com/souliss/souliss/commit/f0b07fbd6dac884653bc949a78c0b63c04174e7e

https://github.com/souliss/souliss/commit/fe3b239c045bf4f254a397eac0066830691e4e5f

Please, go via pull request for next changes.

[2022-03-27 14:59] sdurnev commented on #325
You're right.
I don't have much experience unfortunately.
This time my code is added.
I will consider your recommendations in the future.
Thanks!

[2022-03-28 05:15] #325 closed, assigned to nobody

[2022-11-22 20:42] alvarolobato opened #327 "ESP32 core 2.0.3 fails to compile with errors and warning"
Building for an ESP32 board espressif core 2.0.3 will give the following errors:
[code]

[2022-11-23 23:33] alvarolobato opened #329 "Add Ethernet support for ESP32"
Add support to use an ethernet connection with ESP32 with a Wiznet W5100 / W5200 board so you don't always need to rely on Wifi with ESP32.

[2022-11-23 23:48] #309 closed, assigned to nobody